/**
 * _29013 - Painel com cronograma das tarefas
 */

@import '29012.scss';

#tarefa {

	ul.nav {
		height: auto;
		padding-bottom: 3px;
    	overflow-x: auto;

		li {
			margin-right: 5px;

			a {
	    		width: 150px;
	    		height: auto;
	    		padding: 10px;
	    	}
		}
	}

	.tab-content {
		overflow: auto;
	}

	.container-bloco {

		.bloco {
			position: relative;
			float: left;
			margin-right: 15px;
    		max-height: 500px;
			overflow: auto;
			border: 1px solid $lightGrey;
			@include border-radius(3px);

			&:nth-of-type(2) {
				margin-right: 0;
				width: calc(100% - 400px);

				.bloco-scroll {
					width: 1270px;
				}
			}

			.bloco-scroll {
				padding: 0 10px;

				#diagram {

					a {
						text-decoration: none;
					}
				}
			}
		}
	}
	
	.panel-group {
		margin-top: 10px;

		.panel {

			.panel-heading {

				&.parado {
					background-color: rgba($redDanger, 0.3);
				}
				&.iniciado {
					background-color: rgba($bluePrimary, 0.3);
				}
				&.pausado {
					background-color: rgba($yellowWarning, 0.3);
				}
				&.concluido {
					background-color: rgba($greenSuccess, 0.3);
				}

				&:hover {

					&.parado {
						background-color: rgba($redDanger, 0.2);
					}
					&.iniciado {
						background-color: rgba($bluePrimary, 0.2);
					}
					&.pausado {
						background-color: rgba($yellowWarning, 0.2);
					}
					&.concluido {
						background-color: rgba($greenSuccess, 0.2);
					}
				}

				a {
					&:hover {
						background: none;
					}

					> span {
						display: inline-grid;
						margin-right: 10px;
						font-size: 12px;

						&:last-child {
							float: right;
							margin-right: 0;
							line-height: 1.8em;
						}

						span {
							display: inline-block;

							&:first-child {
								font-weight: bold;
							}

							&.titulo {
								width: 150px;
								max-width: 150px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}

							&.data-prevista, &.data-recalculada, &.data-efetuada {
								width: 200px;
							}

							&.tempo-previsto, &.tempo-conclusao {
								width: 95px;
							}

							&.tempo-eficiencia {
								color: green;

								&.negativo {
									color: red;
								}
							}

							&.status {
								font-size: 16px;
								text-align: center;

								&.fa-stop {
									color: $redDanger;
								}
								&.fa-play {
									color: $bluePrimary;
								}
								&.fa-pause {
									color: $yellowWarning;
								}
								&.fa-check {
									color: $greenSuccess;
								}
							}
						}
					}
				}
			}

			.panel-body {

				.tarefa-descricao-container {

					label, span {
						display: block;
					}
				}

				.comentario-container, .arquivo-container {
					min-width: 0;

					> button {
						display: none;
					}
				}
			}
		}
	}

	.arquivo-container, .comentario-container {
		> .scroll {
		    max-height: 300px;
		    height: 33vh;
		}
	}

	.movimentacao-container {
		margin-top: 20px;
	}
}