/**
 * _23037 - Avaliação de desempenho
 */
@import "../helper/partials/padrao.scss";
@import "../helper/switch.scss";

table {

	tbody {
		text-transform: none;
	}
}

.table-avaliacao {
	height: 70vh;

	table {
		thead, tbody {
			th, td {
				&.id {
					width: 100px;
				}

				&.status {
					width: 25px;

					span {
						&.status-ativo {
							color: $greenSuccess;
						}

						&.status-inativo {
							color: $redDanger;
						}
					}
				}

				&.data-avaliacao {
					width: 100px;
				}
			}
		}
	}

	~ .legenda-container {

		.ativo {
			background-color: $greenSuccess;
		}
		.inativo {
			background-color: $redDanger;
		}
	}
}

.table-resposta {
	height: 70vh;

	table {
		thead, tbody {
			th, td {
				&.id {
					width: 60px;
				}
				&.colaborador {
					width: 300px;
				}
				&.cargo {
					width: 240px;
				}
				&.ccusto {
					width: 250px;
				}
				&.data {
					width: 80px;
				}
				&.data-resposta {
					width: 135px;
				}
			}
		}
	}
}

.table-colaborador {
	height: 65vh;

	table {
		thead, tbody {
			th, td {
				&.id {
					width: 60px;
				}
				&.setor {
					width: 170px;
				}
			}
		}
	}
}

.table-filter {

	.filtro-resposta-container {
		position: absolute;
    	right: 7px;
	}

	.lbl-checkbox {
		margin: 0;
    	line-height: 1.7em;
    	padding: 2px 5px;
    	border: 1px solid $lightGrey;
    	border-radius: 3px;

    	input {
    		display: inline-block;
    	}
	}
}

form {

	&.form-inline .form-group {
		vertical-align: top;

		.input-colaborador {
			
			&.alterando {
				background-color: $white !important;
			}
		}

		.input-colaborador {
			width: calc(400px - 38px) !important;
		}
	}

	.item-dinamico-container .item-dinamico {
		margin-bottom: 3px;
	}
}

.title {
	margin-top: 15px;
	margin-bottom: 5px;
}

.descritivo-container {
	height: 0;
	overflow: hidden;
	box-shadow: 0px 0px 3px $grey160;
    @include border-radius(5px);
	@include transition(0.5s);

	&.exibe {
		margin-top: 10px;
		padding: 5px 10px;
		height: 150px;
	}
}

.formacao-ponto {
	font-weight: bold;
}

label {

	&.alcancou-meta {
		margin-top: 23px;
		font-weight: normal;

		&.alcancou {
			color: $greenSuccess;
		}

		&.nao-alcancou {
			color: $redDanger;
		}

		span {
			top: 4px;
			font-size: 20px;
		}
	}
}