/**
 * _23034 - Cadastro de resumo para avaliação de desempenho.
 */
@import "../helper/partials/padrao.scss";

button {
	> span {
		&.glyphicon, &.fa {
    		line-height: 1.4em;
    	}
    }
}

table {

	tbody {
		text-transform: none;
	}
}

.table-resumo {
	table {
		thead, tbody {
			th, td {
				&.id {
					width: 100px;
				}

				&.peso {
					width: 100px;
				}
			}
		}
	}
}

form.form-inline .form-group {
	vertical-align: top;
}