fieldset {
	margin: 10px 0 0 0;
	border: 1px solid rgb(0, 0, 0);

	legend {
		text-transform: uppercase;
		font-weight: bold;
	}
}

table {
    width: 100%;
    border-collapse: collapse;

    td, th {
	    border: 1px solid rgb(211, 211, 211);
	    text-align: left;
	    padding: 4px;

	    &.text-center {
	    	text-align: center;
	    }

	    &.text-right {
	    	text-align: right;
	    }
	}

	thead {
		tr {
			background-color: rgb(230, 230, 230);
		}
	}

	tbody {
		tr:nth-child(even) {
	    	background-color: rgb(245, 245, 245);
	    }
	}

	tfoot {
		font-weight: bold;
	}
}

.form-group {
    display: inline-grid;
    margin: 5px 10px 5px 0;

	> label {
		font-weight: bold;
	}
}

.title {
    margin-left: 0;
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(128, 128, 128);
    color: rgb(128, 128, 128);
}

.number {
	font-family: monospace !important;
}

.span-icon-check {
	position: relative;
	top: 1px;
	line-height: 1em;
	font-size: 14px;
}

.fieldset-fator {

	.title {
		border: 0;
	}

	.row-fator-pontuacao {
		float: right;
		margin-top: 5px;

		.form-group {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	table {
		th, td {

			&.titulo {
				width: 20%;
			}

			&.descricao {
				width: 35%;
			}

			&.ponto {
				width: 5%;
			}

			&.descritivo {
				width: 40%;
			}

		}
	}
}

.fieldset-formacao, .fieldset-media {
	
	.form-group {
		display: inline-block;
	}
}

.fieldset-formacao {

	.formacao-ponto {
		font-weight: bold;
	}
}