/**
 * _23032 - Cadastro de fatores para avaliação de desempenho.
 */
@import "../helper/partials/padrao.scss";

table {

	tbody {
		text-transform: none;
	}
}

.table-fator {
	table {
		thead, tbody {
			th, td {
				&.id {
					width: 100px;
				}
				&.titulo {
					width: 300px;
				}
			}
		}
	}
}

form.form-inline .form-group {
	vertical-align: top;
}

.item-dinamico-container {

	.item-dinamico {
		float: left;
		margin-right: 10px;
	}
}

.glyphicon-info-sign {
	font-size: 12px;
}