@import "../helper/partials/_padrao.scss";
@import "../helper/google/chart/chart.scss";
@import "../helper/print.scss";

.tab-pane.fade.active.in {
    display: block;
}

.tab-pane.fade{
    display: none;
}

.table-container{
	.col_linha_1{
		//width: 200px;	
	}

	.col_linha_2{
		width: 200px;	
	}

	.col_linha_3{
		width: 200px;	
	}
}

.linha-total{
    background: black !important;
    font-size: 13px;
    color: white;
}

.coluna-quantidade{
    text-align: right;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.coluna-quantidade-LINHA,
.coluna-quantidade-GP,
.coluna-quantidade-COR,
.coluna-quantidade-DENSIDADE,
.coluna-quantidade-MODELO,
.coluna-quantidade-PERFIL{
    text-align: right;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.coluna-quantidade-DEFEITO{
    text-align: right;
    min-width: 202px;
    max-width: 202px;
    width: 202px;
}

.coluna-descricao{
    text-align: left;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

.modal-historico{
	.modal-content{
		height: 90vh;
		//overflow: hidden;

		.modal-body{
			.tab-content{
				height: calc(100vh - 257px);
				.tab-pane{
					height: 100%;
					overflow: hidden;
					.scroll-table{
						height: 66vh;
					}
					
					.dataTables_scroll{ 
					    height: calc(100vh - 316px) !important;
					}
				}
			}
		}
	}
}

.div-chec-tipo{
    display: block !important;
}

.filtro-tipo{
    height: 51px !important;
        
    .div-chec-tipo{
       display: flex;
       margin-top: -6px;

       input[type="checkbox"]{
            position: relative;
            top: 6px !important;
            width: 29px !important;
            height: 20px !important;
        }

    }
}

#totalizador-grafico-div, #totalizador-diario-grafico-dashboard {
    
    .area-filtro-grafico{
        display: inline-flex;
        background-color: #f5f5f5;
        box-shadow: 0px 1px 5px #a0a0a0;
        margin-bottom: 4px;
        border-radius: 3px;
        
        select{
            margin-right: 10px;
            margin-top: 4px;
        }
    }
    
	ul {
        margin-top: 4px;
        margin-right: 4px;
        padding: 2px;
        background-color: #f5f5f5;
        box-shadow: 0px 1px 5px #a0a0a0;
        margin-bottom: 4px;
        @include border-radius(3px);

		li {
			display: inline-block;
    		margin-right: 5px;
    		padding: 0 5px;
    		border-bottom: 5px solid;
            
    		label {
    			top: 1px;
			    font-size: 12px;
			    line-height: 1.2em;
			    margin-left: 4px;
    		}

    		input[type="checkbox"] {
    			width: 15px;
    			height: 15px;
    		}
		}
	}
}


.contador-Atualizar{
    font-size: 9px;
}

.info-Atualizar{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    z-index: 99999;
    
    .info-Atualizar-fraze{
        width: 100%;
        height: 100px;
        margin-left: 10px;
        margin-top: 10px;
        color: #ffed15;
        font-size: 20px;
        text-align: center;
    }
}

/**
 * Fix para modal do bootstrap.
 * Está incrementando padding ao body quando o modal é chamado via js.
 */
body {
	padding-right: 0 !important;
}

.dataTables_scrollBody:fullscreen {
    height: 100vh !important;
}

#info-destaque {
	position: fixed;
	z-index: 99;
    top: 55px;
    right: 15px;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: -10px;
		width: calc(100% + 20px);
		height: 100%;
		background-color: $white;
		box-shadow: -3px 8px 8px $white;    
	}
	
	.label {
		display: inline-table;
		margin-left: -4px;
		height: 52px;
		padding: 10px 15px 7px 15px;
		font-size: 40px;
		@include border-radius(0);
		
		&:first-of-type {
			@include border-radius(4px 0 0 4px);
			
			&.label-default-light {
				float: left;
				margin-right: 3px;
				padding: 0;
				background-color: transparent;
				border: 1px solid $lightGrey;
			}
		}
		&:last-of-type {
			@include border-radius(0 4px 4px 0);
		}
		
		&#operador span.valor {
			max-width: 180px;
		}
		
		&#up-destaque span.valor {
			max-width: 150px;
		}
		
		&#estacao-destaque span.valor {
			max-width: 100px;
		}
		
		> span {
			display: block;
			width: 100%;
			
			&:first-of-type {
				font-size: 12px;
				font-weight: normal;
			}
			
			&.valor {
				margin-top: 2px;
				font-size: 17px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		
	}
}

#status-producao {
	padding: 1px 8px 0px 8px;
	line-height: 1.2em;
    font-size: 40px;
    border: 0;
    background: none !important;
	
	&.status-0 {
		color: $redDanger;
	}
	&.status-1 {
		color: $yellowWarning;
	}
	&.status-2 {
		color: $bluePrimary;
	}
	&.status-3 {
		color: $greenSuccess;
	}
	&.status-6 {
		color: $grey160;
	}
}

#resumo-producao {
	position: fixed;
	z-index: 9999;
	top: 140px;
    right: 15px;
    width: calc(100% - 30px);
    height: 80vh;
	padding: 10px;
	font-size: 20px;
	color: $white;
	background-color: rgba($black, 0.9);
	box-shadow: 0 0 5px $black;
	@include border-radius(5px);
	
	label.abrir-auto {
		position: absolute;
		top: 15px;
		right: 185px;
		font-size: 14px;
		font-weight: normal;
	}
	
	.bootstrap-switch {
		position: absolute;
		top: 10px;
		right: 85px;
	}
	
	#fechar-resumo {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	> div {
		
		&:not(.bootstrap-switch) {
			float: left;
			margin: 5px;
			padding: 10px;
		}
		
		&:not(.status-container-resumo) {
			width: calc(100% / 2 - 10px);
			background-color: rgba($black50, 0.5);
			@include border-radius(3px);
			
			> span {
				width: 100%;
				
				&:nth-child(1) {
					font-size: 18px;
					font-weight: normal;
				}
			}
		}
		
		> span {
			float: left;
			font-size: 42px;
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		&.status-container-resumo {
			display: table;
			padding: 0;
			font-size: 30px;

			#status-icone-resumo {
				padding-left: 0;
				font-size: 80px;
				
				&.status-00 {
					color: $white;
				}
				&.status-0 {
					color: $redDanger;
				}
				&.status-1 {
					color: $yellowWarning;
				}
				&.status-2 {
					color: $bluePrimary;
				}
				&.status-3 {
					color: $greenSuccess;
				}
				&.status-6 {
					color: $grey160;
				}
			}
			
			#status-resumo {
				float: none;
				display: table-cell;
				vertical-align: middle;
				padding-left: 5px;
			}

		}
	
		&.tempo-realizado-container-resumo {
			clear: left;
		}
		
		&.modelo-container-resumo, &.detalhe-container-resumo {
			width: calc(100% - 10px);
		}
		
		&.detalhe-container-resumo {
			border-color: $grey130 !important;
				
			* {
				border-color: $grey130 !important;
			}
			
			#detalhe-label-resumo {
				margin-bottom: 5px;
			}
			
			#detalhe-resumo > span {
				font-size: 42px;
				font-weight: bold;
			}
			
			.dataTables_scrollHead {
				background-color: rgba($black85, 0.5);
				border: 1px solid $grey130 !important;
				border-bottom: 0 !important;
				
				.dataTables_scrollHeadInner {
					width: auto !important;
				}
			}
			
			.ui-resizable-handle {
				display: none;
			}
			
			table {
				border-color: $grey130;
				
				* {
					border-color: $grey130;
				}
				
				tr {
					color: $white;
					background: none;
				}
				th, td {
					padding: 3px 5px;
					font-size: 20px;
					background: none;
					
					&:not(.cor):not(.qtd-projetada):not(.qtd-projetada-alternativa) {
						display: none;
					}
					
					&.cor {
						width: 300px !important;
					}
					&.qtd-projetada {
						width: 100px !important;
					} 
					&.qtd-projetada-alternativa {
						width: 100px !important;
					}
				}
				
				th {
					font-weight: bold;
				}
			}
		}
	}
}

#filtrar-toggle {
	position: absolute;
    top: 4px;
    left: 0px;
	padding-left: 10px;
    padding-right: 10px;
}

div#relatorio-filtro {
	position: relative;
	
	&.desabilitado::before {
		content: ' ';
		position: absolute;
		z-index: 3;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($white, 0.7);
	}
	
	> .form-group.filtro-remessa {
		display: none;
	}

    
	&.table-filter {
		
		.consulta-container {
			margin-right: 0;
		}
		
		.form-group {
			margin-right: 8px;
		}
		
		div {
			&.filtro-periodo {
				padding: 3px 5px;
			    border: 1px solid $lightGrey;
				border-radius: 3px;
			
				#periodo-todos {
					top: -2px;
					margin-left: 7px;

					+ label {
						display: inline-block;
						position: relative;
						top: 2px;
						margin-left: -1px;
					}
				}
			}
		}
	}
}

#btn-table-filter {
	margin-top: 16px;
}

#detalhe-container, #materia-prima, #historico, #defeito {
	float: left;
}

#detalhe-container, #materia-prima {
	width: 100%;
}

#detalhe-container, #historico {
	margin-right: 20px;
}

#historico, #defeito {
	margin-top: 10px;
	width: calc(50% - 10px);
}

#historico {
	clear: left;
	
	.botao-container {
		top: 4px;
		padding: 1px 5px;
		background-color: $lightGrey231;
		@include border-radius(2px);
		
		span {
			
			&:first-child {
				font-size: 12px;
			}
			
			&#tempo-realizado {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}

.botao-container {
	position: absolute;
	top: -4px;
    right: 0;
}

.legenda-container {
	float: left;
	margin-right: 15px;
	
	.legenda-label {
		float: left;
		margin-bottom: 0;
		font-size: 11px;
	}
}

ul.legenda {
	clear: left;
	margin-top: 0;
	
	&.talao, &.status-componente {
		
		li {
			&:nth-child(1) {
				div.cor-legenda {
					background-color: $redDanger;
				}
			}
			&:nth-child(2) {
				div.cor-legenda {
					background-color: $yellowWarning;
				}
			}
			&:nth-child(3) {
				div.cor-legenda {
					background-color: $bluePrimary;
				}
			}
			&:nth-child(4) {
				div.cor-legenda {
					background-color: $greenSuccess;
				}
			}
			&:nth-child(5) {
				div.cor-legenda {
					background-color: $grey130;
				}
			}
		}
		
	}
	
	&.talao-status-componentes {
		
		li {
			&:nth-child(1) {
				div.cor-legenda {
					background-color: $redDanger;
				}
			}
			&:nth-child(2) {
				div.cor-legenda {
					background-color: $yellowWarning;
				}
			}
			&:nth-child(3) {
				div.cor-legenda {
					background-color: $greenSuccess;
				}
			}
			&:nth-child(4) {
				div.cor-legenda {
					background-color: $grey130;
				}
			}
		}
		
	}
	
	&.status-componente, &.status-materia-prima {
		margin-top: 10px;
	}
	
	&.status-materia-prima, &.status-materias-primas {
		
		li {
			&:nth-child(1) {
				div.cor-legenda {
					background-color: $redDanger;
				}
			}
			&:nth-child(2) {
				div.cor-legenda {
					background-color: $greenSuccess;
				}
			}
		}
		
	}
	
	&.talao-detalhe {
		
		li {
			&:nth-child(1) {
				div.cor-legenda {
					background-color: $yellowWarning;
				}
			}
			&:nth-child(2) {
				div.cor-legenda {
					background-color: $bluePrimary;
				}
			}
			&:nth-child(3) {
				div.cor-legenda {
					background-color: $greenSuccess;
				}
			}
			&:nth-child(4) {
				div.cor-legenda {
					background-color: $grey130;
				}
			}
		}
		
	}
}

table {
	
	&.table-talao-produzir, &.table-talao-produzido {
		
		tr {
			&.em-producao {
				font-weight: bold;
			}
			
			&.tipo-2 {
				td {
					span.tipo {
						background-color: $black50;
						color: $gold;
					}
				}
			}
			
			&.tipo-3 {
				td {
					span.tipo {
						background-color: $bluePrimary;
						color: $white;
					}
				}
			}
			
			td {
			
				&.t-status {

					&.status0:before {
						background-color: $redDanger;
					}
					&.status1:before {
						background-color: $yellowWarning;
					}
					&.status2:before {
						background-color: $bluePrimary;
					}
					&.status3:before {
						background-color: $greenSuccess;
					}
					&.status6:before {
						background-color: $grey130;
					}
					
					&.status-materias-primas-1 {
						div.cor-legenda {
							background-color: $redDanger;
						}
					}
					&.status-materias-primas-2 {
						div.cor-legenda {
							background-color: $greenSuccess;
						}		
					}
				}
			
				span.tipo {
					float: right;
					padding: 1px 5px;
					width: 32px;
					@include border-radius(2px);
					font-weight: bold;
					font-size: 10px;
					text-align: center;
				}
				
			}
		}
	
	}
	
	&.table-totalizador-diario {
		thead, tbody {
			th, td {
				white-space: nowrap;
				
				&.data {
					min-width: 50px;
				}
				&.up {
					min-width: 180px;
				}
				&.capac-disp {
					min-width: 70px;
				}
				&.carga-prog {
					min-width: 290px;
				}
				&.carga-util {
					min-width: 220px;
				}
				&.eficiencia {
					min-width: 60px;
				}
				&.perc-aprov {
					min-width: 60px;
				}
			}
		}
		tbody {
			tr {
				td {
					&:not(.dataTables_empty):not(.up) {
						text-transform: lowercase;
					}
				}
			}
		}
	}
	
	&.table-talao-produzido, &.table-totalizador-diario, &.table-total-totalizador {
		tbody {
			tr {
				td {
					div {
						&.label {
							display: inline-block;
							min-width: 45px;
							padding: 2px 5px;
							font-size: 12px;
							font-weight: normal;
							text-align: right;
							
							&:not(.percentual) {
								color: $black50;
								@include border-radius(0);
								
								&:not(:first-of-type) {
									border-left: 2px solid $grey204;
								}
							}
							
							&.qtd-carga {
								min-width: 80px;
							}
							
							&.qtd-pares {
								min-width: 70px;
							}
							
							&.percentual {
								min-width: 60px;
								text-align: center;
							}
							
							&.soma-min {
								min-width: 70px;
							}
							
							&.soma-qtd {
								min-width: 80px;
							}
							
							&.soma-pares {
								min-width: 70px;
							}
							
							&.soma-talao {
								min-width: 60px;
							}
						}
					}
				}
			}
		}
	}
	
	&.table-total-totalizador {
		tbody {
			tr {
				td {
					white-space: nowrap;
					
					&:not(.dataTables_empty) {
						text-transform: lowercase;
					}
				}
			}
		}
	}
	
	&.table-detalhe {
		
		td {
            &.cor {

                &.cor-amostra {
                    position: relative  ;

                    > span {
                        &:first-child {
                            position: relative  ;
                            display: inline-block  ;
                            top: 1px  ;
                            width: 25px  ;
                            height: calc(100% - 2px)  ;
							max-height: 18px;
                            box-shadow: 0px 1px 2px $black100  ;
                            @include border-radius(3px)  ;

                            &.disabled {
                                box-shadow: none  ;
                            }
                        }

                        &.descricao {
                            position: relative  ;
                            top: -2px;
                        }
                    }
                }
            }
            
            &.t-status {

                &.status1:before {
                    background-color: $yellowWarning;
                }
                &.status2:before {
                    background-color: $bluePrimary;
                }
                &.status3:before {
                    background-color: $greenSuccess;
                }
                &.status6:before {
                    background-color: $grey130;
                }
            }
        }
        
	}
	
	thead tr th {
		font-size: 12px;
	}
}

fieldset {
	margin-bottom: 10px !important;
	
	&.programacao {
		
		&.iniciada {
			
			#talao-produzir {
				
				.dataTables_scroll {
					height: 84px !important;
					
					> .ui-resizable-handle {
						display: none;
					}
				}
				
				.dataTables_scrollBody {
					height: 51px !important;
					overflow-x: scroll !important;
					
					tr {
						&:not(.selected) {
							display: none;
						}
					}
				}
				
			}
		}
		
		&.totalizador-diario-ativo {
			~ div {
				display: none;
			}
		}
		
		.tab-container {
			
			.nav-tabs > li {

				&.active a span.btn {
					color: $black85;
					border-color: $black85;
				}

				> a {
					font-weight: bold;

					span.btn {
						margin-left: 10px;
						margin-top: -4px;
						color: $bluePrimary;
						border-color: $bluePrimary;
					}
				}
			}
				
			.tab-content {
				float: left;
				width: 100%;
				
				.legenda-container {
					margin-top: 5px;
					
					ul.legenda {
						margin-bottom: 0;
					}
				}
			}
			
		}
		
		.detalhe {
			margin-top: 10px;
		}
		
		table {
			
			&.table-talao-produzir, &.table-talao-produzido {
			
				thead, tbody {
					th, td {
						&:first-child:not(.dataTables_empty) {
							display: none;
						}
						&.t-status {
							min-width: 9px;
							width: 10px !important;

							&.status-componentes-0:before {
								background-color: $redDanger;
							}
							&.status-componentes-1:before {
								background-color: $yellowWarning;
							}
							&.status-componentes-2:before {
								background-color: $greenSuccess;
							}
							&.status-componentes-6:before {
								background-color: $grey130;
							}
							
							&.status-materias-primas-0:before {
								background-color: $redDanger;
							}
							&.status-materias-primas-1:before {
								background-color: $greenSuccess;
							}
						}
						&.up {
							min-width: 130px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						&.estacao {
							min-width: 90px;
						}
						&.data-remessa {
							min-width: 50px;
						}
						&.remessa {
							min-width: 80px;
						}
						&.talao {
							min-width: 35px;
						}
						&.talao-origem {
                            max-width: 105px;
                            min-width: 105px;
							
							span {
								float: right;
								
								&:nth-child(2) {
									margin-right: 3px;
									max-width: 85px;
									min-width: 85px;
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
								}
							}
						}
						&.up-origem {
							min-width: 120px;
						}
						&.modelo {
							min-width: 200px;
						}
						&.densidade {
							min-width: 40px;
						}
						&.espessura {
							min-width: 40px;
						}
						&.qtd {
							min-width: 75px;
						}
						&.qtd-alternativa {
							min-width: 75px;
						}
						&.qtd-produzida {
							min-width: 75px;
						}
						&.tempo-prev {
							min-width: 70px;
						}
						&.data-ini-prev {
							min-width: 70px;
						}
						&.eficiencia {
							min-width: 60px;
						}
					}
					
					td {
						&.qtd, &.qtd-alternativa, &.qtd-produzida, &.tempo-prev, &.tempo-realiz {
							text-transform: lowercase;
						}
					}
				}
				
			}
			
			&.table-talao-produzido {
			
				thead, tbody {
					th, td {
						&:nth-child(14) {
							min-width: 70px;
						}
						&:nth-child(15) {
							min-width: 70px;
						}
					}

					 td {
						&:nth-child(13), &:nth-child(14) {
							text-transform: lowercase;
						}
					 }
				}
			}
			
		}
		
		.totalizador-produzir, .totalizador-produzido {
			float: right;
			margin-top: 5px;
			
			label {
				margin-bottom: 0;
				font-weight: normal;
				text-align: right;
				
				&:not(:last-of-type) {
					border-right: 1px solid $lightGrey;
				}
			}
			
			.panel {
				border-color: $yellowWarning;
				
				.panel-heading, .panel-body {
					
					label {
						display: table-cell;
						padding: 0 5px;
						width: 80px;
					}
				}
				.panel-heading {
					padding: 0 2px;
					background-color: $yellowWarning;
					
					label {
						font-size: 11px;
						color: $white;
					}
				}
				.panel-body {
					padding: 0 2px;
					line-height: 1.5em;
					
					label {
						font-size: 12px;
					}
				}
			}
		}
		
		#totalizador-diario {
			
			.dataTables_wrapper {
				margin-top: 10px;
				
				&:nth-child(2) {
					
					.dataTables_scroll {
						
						.dataTables_scrollHead {
							background-color: $yellowWarning;

							table thead tr th {
								background-color: $yellowWarning;
								padding-top: 2px;
								padding-bottom: 2px;
							}
						}

						.dataTables_scrollBody {
							height: auto !important;
						}

						> .ui-resizable-handle {
							display: none !important;
						}
					}
				}
			}			
		
			.grafico {
				margin: 30px 0 !important;
				
				#totalizador-diario-grafico {
					width: 100%;
					height: 500px;
				}
			}
		}
	}
	
	&.detalhe, &.materia-prima {
		
		table {
			
			tbody {
				td {
					input {
						&.qtd-alocada, &.qtd-alternativa-aloc, &.qtd, &.qtd-alternativa {
							display: none;
							width: 80px;
							height: 24px;
							padding: 4px;
						}
					}
					button {
						padding: 0 4px;
						margin-top: -3px;
						margin-bottom: -2px;
						
						&.qtd-gravar, &.qtd-cancelar {
							display: none;
						}
					}
				}
			}
		}
	}
	
	&.detalhe {
		
		table {
			thead, tbody {
				th, td {
					&:first-child:not(.dataTables_empty) {
						display: none;
					}
					&:nth-child(2) {
						min-width: 15px;
					}
					&:nth-child(3) {
						min-width: 30px;
					}
					&:nth-child(4) {
						min-width: 50px;
					}
					&:nth-child(5) {
						min-width: 170px;
						max-width: 170px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					&:nth-child(6) {
						min-width: 60px;
					}
					&:nth-child(7) {
						min-width: 70px;
					}
					&:nth-child(11) {
						min-width: 60px;
					}
					&:nth-child(12) {
						min-width: 70px;
					}
					&.qtd, &.qtd-alternativa {
						min-width: 100px;
					}
					&.editando {
						min-width: 150px;
					}
					&.sobra-tipo {
						min-width: 60px;
					}
				}
				
				td {
					&:not(.dataTables_empty):not(:nth-child(5)):not(.sobra-tipo) {
						text-transform: lowercase;
					}
					
					&.sobra-tipo {
						
						&.sobra-tipo-M {
							> span {
								background-color: $redDanger;
							}
						}
						&.sobra-tipo-P {
							> span {
								background-color: $greenSuccess;
							}
						}
						
						> span {
							padding: 3px 8px;
							color: $white;
							@include border-radius(2px);
						}
					}
				}
			}
		}
	}
	
	&.materia-prima {
		
		table {
			thead, tbody {
				th, td {
					&:first-child:not(.dataTables_empty) {
						display: none;
					}
					&.t-status {

						&.status-componente-0:before {
							background-color: $redDanger;
						}
						&.status-componente-1:before {
							background-color: $yellowWarning;
						}
						&.status-componente-2:before {
							background-color: $bluePrimary;
						}
						&.status-componente-3:before {
							background-color: $greenSuccess;
						}
						&.status-componente-6:before {
							background-color: $grey130;
						}
						
						&.status-materia-prima-0, &.status-componente-reduzido-0 {
							&:before {
								background-color: $redDanger;
							}
						}
						&.status-materia-prima-1, &.status-componente-reduzido-1 {
							&:before {
								background-color: $greenSuccess;
							}
						}
						
					}
                    
					&:nth-child(3) {
						min-width: 35px;
					}
                    
					&:nth-child(4) {
						min-width: 215px;
						
						span.glyphicon {
							float: right;
						}
					}
					&:nth-child(5) {
						min-width: 40px;
					}
					&:nth-child(6) {
						min-width: 80px;
					}
					&:nth-child(7) {
						min-width: 80px;
					}
					&:nth-child(10) {
						min-width: 55px;
					}
					&.qtd-alocada, &.qtd-alternativa-aloc {
						min-width: 100px;
					}
					&.editando {
						min-width: 150px;
					}
					&.qtd-total {
						span.pecas-disponiveis {
							margin-right: 5px;
						}
					}
				}
				
				td {
					&:nth-child(5), &:nth-child(6), &:nth-child(7), &.qtd-alocada, &.qtd-alternativa-aloc {
						text-transform: lowercase;
					}
				}
			}
		}
	}
	
	&.defeito {
		margin-right: 0;
	}
	
	&.totalizador {

		> div {
			margin-bottom: 10px; 

			label {
				margin-right: 5px;
				width: 130px;
				font-size: 18px;
				text-align: right;
			}
			
			input {
				width: calc(100% - 140px);
				height: 40px;
				font-size: 25px;
			}
		}
	}
}


/**
 * Modal da balança
 */
#modal-balanca {
    
    &.show-conjunto-2 {
        .modal-dialog {
            .row {
                
                .peso-baixar {
                    width: calc(50% - 17px) !important;
                }

                &:nth-child(4), &:nth-child(5) {
                    .form-group {
                        width: calc(25% - 17px);
                    }
                }
                            
                .conjunto-2 {
                    display: inline-block;
                }
                
                label span {
                    display: inline-block !important;
                }
            }
        }
    }
	
	.modal-dialog {
		width: 1000px;
		
		.row {
			
			&:first-child {
				.form-group {
					width: calc(100% - 15px);
				}
			}
			
/*			&:last-child {
				.form-group {
					width: calc(25% - 18px);
				}
			}*/

			&:nth-child(4), &:nth-child(5) {
				.form-group {
					width: calc(50% - 17px);
					
					&.form-group-conjunto {
						width: calc(25% - 17px);
					}
				}
			}
            
            .conjunto-2 {
                display: none;
            }
		
			.form-group {
				width: calc(33.3% - 17px);

				&:last-of-type {
					margin-right: 0px;
				}
				
                label span {
                    display: none;
                }
                
				.input-group {
					width: 100%;
					
					.input-group-addon {
						width: 45px;
						font-size: 18px;
						text-transform: lowercase;
						background-color: $lightGrey231;
						border-left: 0;
						@include border-radius(0 4px 4px 0);
					}
				}

				input {
					&.form-control {
						height: 50px;
						width: 100% !important;
						font-size: 30px;
						text-align: right;
						
						&#balanca-produto,
						&#balanca-peso-baixar,
						&#balanca-metragem-baixar,
						&#balanca-metragem-baixar-2 {
							font-weight: bold;
						}
						
						&#balanca-peso-baixar,
						&#balanca-metragem-baixar,
						&#balanca-metragem-baixar-2 {
							font-size: 35px;
						}
						
						&#balanca-produto {
							text-align: left;
						}
					}
				}
			}
		}
	}
}


/**
 * Balão em Matéria-prima
 */
.popover {
	
	.popover-content {
		float: left;
		width: 100%;
		
		.alocado-content {
			
			.alocado-row {
				float: left;
				clear: left;
				padding: 5px;
				width: 100%;
				font-size: 12px;
				line-height: 1.2em;

				&:nth-child(even) {
					background-color: $lightGrey231;
				}

				&:hover {
					background-color: $white238;
				}

				> span {
					display: inline-block;
					line-height: 2.2em;
				}
                

				button.alocado-excluir, button.aproveitado-excluir {
					float: right;
					padding: 5px;
					margin-left: 10px;

					.glyphicon {
						top: 0px;
						left: -1px;
					}
				}
			}
		}
		
		.pecas-disponiveis-container {
			table {
				width: 100%;
				
				tbody {
					tr {
						td {
							&:not(.remessa) {
								text-transform: lowercase;
							}
						}
					}
				}
			}
		}
	}
}

.form-group{
   display: block !important;
   height: 100% !important;
}

.linta-total{
    background-color: #a5afb7 !important;
    font-size: 15px;
    font-weight: bold;
}

.coll-numeric{
    text-align: right;
}

.coll-string{
    text-align: center;
}

.relatorio-conteiner{
    //height: 30vh;
    //overflow: scroll;
}

.faturamento-familias{
    width: 100%;
    height: 400px;
    
    display: inline-flex;
    
    .tabela-conteiner {
        width: 30vw;
    }
    
    .grafico-conteiner {
        width: 68vw;
    }
}

.grafico3-conteiner{
    
    #totalizador-grafico{
        height: 338px;
    }
}


#totalizador-diario-grafico-dashboard{
    margin-left: 10px; 
}

#totalizador-diario-grafico{
    height: 300px;
}

.google-visualization-controls-categoryfilter {
    margin-bottom: 15px;
    padding: 7px 5px;
    font-size: 12px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 5px #a0a0a0;
    border-radius: 3px;
}

.btn-screem-grafico {
    background: transparent;
    border-color: black;
    color: black;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    margin-top: 4px;
    margin-left: 4px;
    
    .glyphicon {
        margin-left: -3px;
        top: 2px !important;
    }
}

@media (max-width: 500px) {
	
	.modal-historico{

		.modal-dialog{
			height: 82vh !important;
			.modal-content{
				margin-bottom: 10px !important;
				.modal-body{
					height: 72vh !important;
					.historico-corpo{
						height:100%;
						overflow: hidden;

						.dataTables_scroll ui-resizable{
							height: 68vh;
						}
					}
				}
			}
		}

		margin-top: 46px !important;

	}
}

@media (max-width: 1000px) {

    .faturamento-familias{

        display: block;

        .tabela-conteiner, .grafico-conteiner {
            width: 100%;
        }
    }
    
    #totalizador-diario-grafico-dashboard {
        margin-left: 0px !important;
        margin-top: 19px !important;
    }
    
    .area-filtro-grafico{
        display: block !important;
        
        select{
            margin-bottom: 10px !important;
            width: calc(100% - 6px) !important;
            margin-left: 3px;
        }
    }
    
    #totalizador-grafico-div ul, #totalizador-diario-grafico-dashboard ul{
        margin-left: 3px;
    }
     
}

#totalizador-diario-grafico-dashboard:fullscreen, #totalizador-grafico-div:fullscreen {

	margin-top: 0px !important;

    #totalizador-grafico, #totalizador-diario-grafico {
        height: calc(100% - 164px);
    }

}

.container-fluid {
    padding-top: 0px!important;
}

.conteiner-filtro{
    width: 100%;
    background-color: #e5e8e8;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid;
	
	.filtro-btn{
		display: inline-flex;
		height: 26px;
		//border-radius: 10px;
		padding: 3px;
		margin: 2px;
	}

    .filtro-item{
		display: inline-flex;
		background-color: cadetblue;
		height: 26px;
		border-radius: 10px;
		padding: 3px;
		margin: 2px;

    	.filtro-campo{
    		margin-right: 5px;
    	}
	    .filtro-valor{}
	    .filtro-fechar{
			margin-left: 5px;
			background: white;
			width: 20px;
			text-align: center;
			border-radius: 10px;
			cursor: pointer;
	    }
    }

    .ajuda-filtro{
    	display: inline-block;
    	width: calc(100% - 64px);

    	div{
    		display: block;
		    width: 100%;
		    text-align: center;
		    font-size: 17px;
		    color: red;
    	}
    }
}

.tab-pane{
	overflow: auto !important;
}

.tabela-relatorio-titulo{
    width: calc(100vw - 24px);
    height: 34px;
    overflow: hidden;
    margin-left: -10px;

    .table-ec{
    	overflow: hidden;
    }
}

.tabela-relatorio{
	width: calc(100vw - 5px) !important;
    height: 84vh !important;
    overflow: scroll !important;
    margin-left: -10px !important;

    .table-ec{
    	height: unset;
    }

	.relatorio-conteiner{
	    margin-right: 8px;
	    margin-top: -33px;
	}

	.grafico3-conteiner{
	    margin-right: 10px;
	}
}

@media (max-width: 510px){

	ul.acoes {
		position: relative;
		background-color: white;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	    color: #555555;
	    background-color: #e09696;
	    border: 1px solid #ddd;
	    border-bottom-color: transparent;
	    cursor: default;
	    border-radius: 5px;
	}
}

ul.acoes {
	position: unset;
}

@media only screen and (max-width: 500px) {
    div#totalizador-diario-grafico {
	    width: 96vw;
	}
	
}

