/**
 * _12070 - Clientes
 */
@import "../helper/partials/padrao.scss";

.modal {

	&#modal-por-representante {

		.table-container-por-representante {

			table {
				thead, tbody {
					tr {
						th, td {
							&.cliente {
								min-width: 300px;
								width: 300px;
							}
							&.nome-fantasia {
								min-width: 180px;
								width: 180px;
							}
							&.uf {
								min-width: 50px;
								width: 50px;
							}
						}
					}
				}
			}
		}
	}
}