@media (max-width: 1400px) {
	
	body > .container-fluid {
		padding-top: 90px;
	}

	ul.acoes {
		top: 45px;

		> li {
			float: left;
			margin-bottom: 5px;

			&:nth-child(3) {
				clear: left;
			}
			
			button, a {
				float: left;
				clear: left;
				width: 152px;
			}
		}
	}
}