@import "../helper/partials/_padrao.scss";
@import "22060-media.scss";

body > .container-fluid {
	padding-top: 15px;
}

form.form-inline .form-group {
	label.periodo-a {
		display: inline-block;
	}
	
	button.filtrar {
		top: 10px;
	}
}

ul.legenda {
	margin-left: 5px;
	background-color: $white;
}

.panel {
	overflow: hidden;
	
	.panel-vazio {
		padding: 20px;
		font-size: 18px;
		text-align: center;
		color: $bluePrimary;
		background-color: $white;
	}
	
	.panel-collapse.in {
		border-bottom: 1px solid $lightGrey;
	}
	
	&.panel-primary {
		> .panel-heading {			
			a {
				color: $white;
			}
		}
	}
	
	> .titulo-lista, > .panel-heading a {
		span {
			&:nth-child(1) {
				width: 300px;
			}
			&:nth-child(2) {
				width: 150px;
			}
			&:nth-child(3) {
				width: 150px;
			}
			&:nth-child(4) {
				width: 150px;
			}
			&:nth-child(5) {
				width: 150px;
			}
		}
	}
		
	> .titulo-lista {
		color: $white;
		font-size: 12px;
	}

	> .panel-heading {		
		a {
			display: flex;
			padding: 0;

			span {
				padding: 7px 5px;
			}
		}
	}
	
	.panel-heading {
		border-top: 1px solid $lightGrey;
		
		&:first-of-type {
			border-top: 0;
		}
	}
	
	.panel-body {
		padding: 5px;
	}
	
	&.panel-table .panel-body .panel .panel-heading {
		border-bottom: 1px solid $lightGrey;
	}
	
	&.panel-estab {		
		background-color: $bluePrimaryLight;
		
		> .panel-heading {
			a {
				background-color: $bluePrimary;
				
				&:hover, &:not(.collapsed) {
					background-color: $bluePrimary2;
				}
				
				span {
					width: auto;
					border: 0;
					
					&:nth-child(2) {
						font-weight: bold;
					}
				}
			}
		}
	}
	
	.gp-group {
		margin-bottom: 0;
		padding: 5px;
	}
	
	&.panel-gp {
		background-color: $greenSuccessLight;
			
		> .titulo-lista {
			background-color: rgba($greenSuccess, 0.7);
		}
		
		> .panel-heading {
			a {
				&:hover, &:not(.collapsed) {
					background-color: rgba($greenSuccess, 0.2);
				}
			}
		}
	}
	
	&.panel-up {
		background-color: $yellowWarningLight;
			
		> .titulo-lista {
			background-color: rgba($yellowWarning2, 0.7);
		}
		
		> .panel-heading {
			a {
				&:hover, &:not(.collapsed) {
					background-color: rgba($yellowWarning2, 0.2);
				}
			}
		}
	}
	
	&.panel-estacao {
		background-color: $redDangerLight;
		
		> .titulo-lista {
			background-color: rgba($redDanger3, 0.7);
		}
		
		> .panel-heading {
			a {
				&:hover, &:not(.collapsed) {
					background-color: rgba($redDanger3, 0.2);
				}
			}
		}
	}

	&.panel-talao {
		background-color: $bluePrimaryLight;
		
		> .titulo-lista {
			background-color: rgba($bluePrimary2, 0.7);
		}
		
		> .panel-heading {
			a {
				&:hover, &:not(.collapsed) {
					background-color: rgba($bluePrimary2, 0.2);
				}
				
				span {
					&.t-status {
						&.status-talao1:before {
							background-color: $yellowWarning;
						}
						&.status-talao2:before {
							background-color: $bluePrimary;
						}
						&.status-talao3:before {
							background-color: $greenSuccess;
						}
					}
				}
			}
		}
		
		ul.legenda {
			li {
				&:nth-child(1) {
					div.cor-legenda {
						background-color: $yellowWarning;
					}
				}
				&:nth-child(2) {
					div.cor-legenda {
						background-color: $bluePrimary;
					}
				}
				&:nth-child(3) {
					div.cor-legenda {
						background-color: $greenSuccess;
					}
				}
			}
		}
		
		> .titulo-lista, > .panel-heading a {
			span {
				&:nth-child(1) {
					width: 20px;
				}
				&:nth-child(2) {
					width: 100px;
				}
				&:nth-child(3) {
					width: 300px;
				}
				&:nth-child(4) {
					width: 100px;
				}
				&:nth-child(5) {
					width: 100px;
				}
				&:nth-child(6) {
					width: 100px;
				}
				&:nth-child(7) {
					width: 100px;
				}
				&:nth-child(8) {
					width: 100px;
				}
				&:nth-child(9) {
					width: 100px;
				}
			}
		}
	}

	&.panel-talao-detalhe {
		background-color: $greenSuccessLight;
		
		> .titulo-lista {
			background-color: rgba($greenSuccess3, 0.7);
		}
		
		> .panel-heading {
			a {
				background-color: $greenSuccessLight2;
					
				&:hover, &:not(.collapsed) {
					background-color: rgba($greenSuccess3, 0.2);
				}
				
				span {
					&.t-status {
						&.status-detalhe1:before {
							background-color: $yellowWarning;
						}
						&.status-detalhe2:before {
							background-color: $bluePrimary;
						}
						&.status-detalhe3:before {
							background-color: $greenSuccess;
						}
						&.status-detalhe6:before {
							background-color: $grey130;
						}
					}
				}
			}
		}
		
		ul.legenda {
			li {
				&:nth-child(1) {
					div.cor-legenda {
						background-color: $yellowWarning;
					}
				}
				&:nth-child(2) {
					div.cor-legenda {
						background-color: $bluePrimary;
					}
				}
				&:nth-child(3) {
					div.cor-legenda {
						background-color: $greenSuccess;
					}
				}
				&:nth-child(4) {
					div.cor-legenda {
						background-color: $grey130;
					}
				}
			}
		}
		
		> .titulo-lista, > .panel-heading a  {
			span {
				&:nth-child(1) {
					width: 20px;
				}
				&:nth-child(2) {
					width: 80px;
				}
				&:nth-child(3) {
					width: 300px;
				}
				&:nth-child(4) {
					width: 220px;
				}
				&:nth-child(5) {
					width: 50px;
				}
				&:nth-child(6) {
					width: 100px;
				}
				&:nth-child(7) {
					width: 100px;
				}
				&:nth-child(8) {
					width: 100px;
				}
				&:nth-child(9) {
					width: 100px;
				}
			}
		}
	}
}