@media (max-width: 768px) {
	
	form {
		> .row {
			margin-bottom: 15px;
			
			&:nth-child(2) {
				width: 100%;
				overflow: auto;
			}
			
			> div {
				float: left;
				
				&:last-child {
					clear: left;
				}
				
				&.form-group {
					input {
						&[type="checkbox"] {
							float: left;
							top: 0;

							~ label {
								float: right;
								margin-left: 4px;
								margin-top: 4px;
							}
						}
						
						&[type="date"] {
							margin-bottom: 10px;
							width: auto !important;
						}
					}
				}
			}
		}
	}

}