/**
 * _22140 - Painel de Programacao
 */
@import "../helper/partials/padrao.scss";



#main-app {
    
    .check-now {
        top: initial;
    }
    
    .panel-group {
        margin-bottom: initial;
        width: 100%;
        
            div.check {
                margin-top: 4px;
                float: left;
                position: relative;
                padding: 10px 10px 10px 11px;

                &.tempo {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                i.check {
                    font-size: 17px;
                    position: absolute;
                    top: 2px;
                    left: 4px;
                }
            }
    }
}