/**
 * _22150 - Painel de Ferramentas
 */
@import "../helper/partials/padrao.scss";

#main-app {
    height: 80vh;
    margin-top: -46px;
    
    ul.acoes {
        position: initial;
        margin-top: -10px;
    }
    
    .tab-pane {
        height: 80vh;
    }   
    
    .btn {
        transition: 0.5s;
    }
    
    #modal-historico-movimentacao {
        .table-container {
            
            th,td {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            .estacao { 
                width: 9.4vw;
                max-width: 9.4vw;
            }
            
            .status {
                width: 14vw;
                max-width: 14vw;
            }
            
            .remessa {
                width: 8vw;
                max-width: 8vw;
            }
            
            .data-hora {
                width: 6.1vw;
                max-width: 6.1vw;
            }
            
            .operador {
                width: 13.6vw;
                max-width: 13.6vw;
            }
            
            .scroll-table {
                height: 68vh;
            }
        }
    }
}

#ferramenta-programada {


    >.panel {
        float: left;
        
        .scroll-table {
            height: 70vh !important;
        }

        &.panel-left {
            width: 50%;
            
            tr {
                &.em-producao {
                    color: blue;
                }
                
                &.em-desuso {
                    color: red;
                }
                
                &.em-utilizacao {
                    color: green;
                }
            }
            
            .tw-ferramenta {
                padding-left: 4px;
            }
        }

        &.panel-right {
            width: calc(100% - 50% - 10px);
            margin-left: 10px;

            table {
                
                td,th {
                    font-size: 1.3vw;
                }
                                
                .tw-estacao {
                    width: 28vw;
                }

            }
        }
    }
}

.legenda-container {
    float: left;
    margin-right: 15px;

    .legenda-label {
          float: left;
          margin-bottom: 0;
          font-size: 11px;
    }
}

ul.legenda {
  clear: left;
  margin-top: 0;
  
    .btn-default {
        background-color: rgb(191, 191, 191);
        border-color: rgb(173, 173, 173);
    }
}

.table-container-painel {
    height: calc(100% - 37px);
    
    .scroll-table {
        height: calc(100% - 60px) !important;
    }
    
    td, th {
        font-size: 1.3vw;
    }
    
    
    .tw-estacao {
        min-width: 16vw;
        width: 16vw;
        
        &.parada {
            padding: 3px;
            
            .estacao {
                font-size: 1.1vw;
                text-decoration: line-through;
                font-weight: bold;
                color: rgb(212, 63, 58);
            }
            
            .descricao {
                font-size: 0.9vw;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
    
    .tw-ferramenta {
        min-width: 215px;
        max-width: 215px;
        width: 28%;
    }
    
    .tw-navalha {
        min-width: 8vw;
        width: 8vw;
    }
    
    .tw-datahora {
        min-width: 9vw;
        width: 9vw;
    }
    
    .tw-tempo-restante {
        width: 12vw;
        max-width: 12vw;
        min-width: 12vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;        
        
        &.text-low {
            text-transform: lowercase;
        }
    }
    
    .tw-enderecamento {
        min-width: 5vw;
        width: 5vw;
    }
    
    .tw-acoes {
        vertical-align: middle;
        padding: 3px;
        width: 9vw;
        text-align: center;
        
        div {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .btn {
                height: 2.6vw;
                margin: 0 3px;
            }
        }
    }
    
/*    .tw-acoes {
        position: relative;
        min-width: 214px;
        width: 214px;
        height: 100%;
        
        .btn {
            position: absolute;
            top: 5px;
            height: 2.1vw;
            font-size: 0.9vw;
            line-height: 1.5em;
            width: 199px;
            
            span {
                padding-right: 5px;
            }
            
            &.btn-warning,&.btn-danger {
                width: 151px;
            }
            
            &.btn-primary {
                width: 40px;
                right: 7px;
            }
        }
    }*/
    
    .tw-ferramenta {
        padding-left: 3vw;
        position: relative;
        
        .esfera {
            position: absolute;
            top: 6px;
            left: 7px;
            
            span {
                position: absolute;
                top: 7%;
                left: 25%;
                color: rgb(255, 255, 255);
                font-weight: bold;
                text-shadow: 2px 2px 3px #000000;
                z-index: 9;
            }
        }
    }
}

#modal-entrada, #modal-saida, #modal-separacao {
    
    table {

        td, th {
            font-size: 1.3vw;
            vertical-align: middle;
        }

        .descricao {
            min-width: 16vw;
            width: 16vw;
        }
    }
}

.esfera {
    display: inline-block;
    position: relative;
    height: 2.1vw;
    width: 2.1vw;
    
    
    &.danger {
        $exp: blink-animation 1s steps(5, start) infinite;
        @include animation($exp);        
        .box-color {
            background-color: red; 
        }
    }
    &.warning {
        .box-color {
            background-color: yellow; 
        }
    }
    
    &.success {
        .box-color {
            background-color: green; 
        }
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    
    .box-ligth {
        position: absolute;
        height: 100%;
        width: 100%;
        
        div {
            $gradient: rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%;
            @include linear-gradient(transparent,$gradient); 
            border-radius: 50%; 
            display: block;
            height: 75%;
            left: 13%;
            position: relative;
            top: 2%;
            width: 80%;
        }
    }
    
    .box-color {
        display: inline-block; 
        border-radius: 50%; 
        height: 100%; 
        width: 100%; 
        box-shadow: inset -10px -10px 10px rgba(0, 0, 0, 0.4), inset 3px 3px 5px rgb(255, 255, 255);
        background-color: white; 
    }
}