/**
 * _27030 - Cadastro de Cores - Modal
 */
@import "../helper/partials/padrao.scss";

.modal {
	
	&#modal-consultar-cor-por-modelo, &#modal-consultar-cor {
		
		table {
			thead, tbody {
				tr {
					th, td {
						&.cor-amostra {
							min-width: 70px;
							max-width: 70px;
							width: 70px;
						}
						&.cor-id {
							min-width: 60px;
							max-width: 60px;
							width: 60px;
						}
						&.cor-descricao {
							min-width: 275px;
							max-width: 275px;
							width: 275px;
						}
						&.cor-condicao {
							min-width: 125px;
							max-width: 125px;
							width: 125px;

							&.col-maior {
								min-width: 400px;
								max-width: 400px;
								width: 400px;
							}
						}
						/*
						&.cor-classe {
							min-width: 50px;
							max-width: 50px;
							width: 50px;
						}
						&.cor-perfil {
							min-width: 50px;
							max-width: 50px;
							width: 50px;
						}
						&.cor-tonalidade {
							min-width: 50px;
							max-width: 50px;
							width: 50px;
						}
						&.cor-tonalidade-fornecedor {
							min-width: 80px;
							max-width: 80px;
							width: 80px;
						}
						&.cor-observacao {
							min-width: 150px;
							max-width: 150px;
							width: 150px;
						}
						&.cor-quantidade {
							min-width: 50px;
							max-width: 50px;
							width: 50px;
						}
						*/
					}
				}
			}

			tbody {
				tr {
					&.mais-pedido {
						background-color: rgba($yellowWarning, 0.2);

						&:nth-of-type(odd), &:hover {
							background-color: rgba($yellowWarning, 0.25);
						}
					}

					td {
						&.cor-amostra {
							position: relative;
							
							> span {
								position: absolute;
								top: 4px;
								width: 52px;
								height: calc(100% - 8px);
								box-shadow: 0px 1px 3px $black100;
								@include border-radius(3px);
								@include transition(0.5s 0s);
								
								&:hover {
									z-index: 1;
									cursor: -webkit-zoom-in;
									cursor: zoom-in;
									box-shadow: 0 0 3px $black;
									transform-origin: top left;
									@include transform(scale(3));
									@include transition(1s 0.5s);
								}
							}
						}
					}

					&:nth-last-child(1):not(:nth-child(1)), 
					&:nth-last-child(2):not(:nth-child(2)), 
					&:nth-last-child(3):not(:nth-child(3)), 
					&:nth-last-child(4):not(:nth-child(4)), 
					&:nth-last-child(5):not(:nth-child(5)) {
						td {
							&.cor-amostra {

								span {
										
									&:hover {
										transform-origin: bottom left;
									}
								}
							}
						}
					}
				}
			}

			&.table-header ~ .scroll-table {
	    		height: 66vh;
	    	}
		}

		ul.legenda {
			margin-bottom: 0;
			
			li {
				div.cor-legenda {
					background-color: rgba($yellowWarning, 0.3);
					box-shadow: 0px 0px 2px $black;
				}
			}
		}
	}
}