/**
 * CSS para a página de erro
 */

@import "../helper/partials/padrao.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-family: Arial, sans-serif;
}

nav.navbar {

  .navbar-header .navbar-toggle, div.sessao {
    display: none;
  }
}

.container {
  text-align: center;
  margin-top: 10%;

  .content {
    text-align: center;
    display: inline-block;
  }

  .title {
    color: $redDelfa;
    font-size: 72px;
    margin-bottom: 40px;

    div {
      display: inline-block;
      margin-left: 30px;
      @include transform-rotate(90deg)
    }
  }

  .msg {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .msg-erro {
	font-size: 13px;
    text-align: left;
	padding: 10px 15px;
	background: $lightGrey231;
    border-radius: 5px;
	
	.lbl {
		display: inline-block;
		font-weight: bold;
		margin-right: 5px;
		min-width: 50px;
		text-align: right;
	}
  }
  
}