/** 
 * Estilo para a página inicial
 */

@import "../helper/partials/_padrao.scss";

#menu {
	height: 100% !important;
}

nav.navbar {
	z-index: 99999;
	background-color: rgba(#337ab7, 0.85);
	
	.navbar-toggle {
		display: none !important;
	}
	
	.titulo-pagina {
   		visibility: hidden;
   	}
	
	.navbar-header {
		.duplicar-tela-mobile, .go-fullscreen-mobile {
			visibility: hidden;
		}
	}
	
	#navbar .navbar-right {
		visibility: visible;
		
		a, .go-fullscreen {
			&:hover {
				background-color: $redDelfa;
			}
		}
   	}	
}