/**
 * _28000 - Relatorios Personalizados
 */
@import "../helper/partials/padrao.scss";

.dados-tipo-1 {
    text-align: left;
}

.dados-tipo-2 {
    text-align: right;
}

.dados-tipo-3 {
    text-align: center;
}

