@import "../helper/partials/_padrao.scss";

.familia-permitida {
	display: inline-block;
    margin-top: 5px;
	margin-right: 5px;
	padding: 1px 5px;
	white-space: nowrap;
	border: 1px solid;
	@include border-radius(3px);
}

table {
	
	&.lista-obj-15040 {
		
		thead {
			tr {
				th {
					&.status {
						width: 10px;
					}
					&.produto {
						width: 350px;
					}
				}
			}
		}
		tbody {
			td {
				&.status {
					&.status-0 {
						color: $greenSuccess;
					}
					&.status-1 {
						color: $redDanger
					}
					&.status-2 {
						color: $black100;
					}
				}
			}
		}
	}
	
	&.table-baixa-realizada {
		
		thead, tbody {
			tr {
				th, td {
					&:nth-child(1) {
						min-width: 40px;
					}
					&:nth-child(2) {
						min-width: 40px;
					}
					&:nth-child(3) {
						min-width: 120px;
					}
					&:nth-child(4) {
						min-width: 30px;
					}
					&:nth-child(5) {
						min-width: 30px;
					}
					&:nth-child(6) {
						min-width: 200px;
					}
					&:nth-child(7) {
						min-width: 200px;
					}
					&:nth-child(8) {
						min-width: 350px;
					}
					&:nth-child(9) {
						min-width: 35px;
					}
					&:nth-child(10) {
						min-width: 40px;
					}
					&:nth-child(11) {
						min-width: 30px;
					}
					&:nth-child(12) {
						min-width: 200px;
					}
					&:nth-child(13) {
						min-width: 75px;
					}
				}
			}
		}
	}

}

ul.legenda {
	li {
		&:nth-child(1) {
			.cor-legenda {
				background-color: $greenSuccess;
			}
		}
		&:nth-child(2) {
			.cor-legenda {
				background-color: $redDanger;
			}
		}
		&:nth-child(3) {
			.cor-legenda {
				background-color: $black100;
			}
		}
	}
}

.popup {
	.grupo-req {
		width: 100%;
		margin-bottom: 10px;
		padding: 10px;
		background-color: rgba($bluePrimary, 0.1);
		border-left: 3px solid rgba($bluePrimary, 0.5);

		&:nth-of-type(even) {
			background-color: rgba($greenSuccess, 0.1);
			border-left-color: rgba($greenSuccess, 0.5);
		}
		
		.row:last-child .form-group {
			margin-bottom: 2px;
		}
	}
}


@import "15040-media.scss";