/**
 * _15060 - Consulta de Estoque
 */
@import "../helper/partials/padrao.scss";
@import "../helper/jquery-ui.min.scss";



#main-app {
    
    * {
        font-size: 11px;
    }

    .container-header {
        padding-bottom: 10px;

        .resize {
            height: 180px;
        }

        .container-left {
            width: 70%;
            float: left;
            padding-right: 10px;
        }
    }
    .container-footer {
        width: 100%;
        .resize {
            height: calc(100vh - 430px);
            min-height: 150px;            
        }
    }

    .container {
        margin-right: initial; 
        padding-left: initial;
        height: 100%;

        fieldset {
            height: 100%;

        }
    }

    .table-lc.table-container {
        height: 100%;
        overflow: scroll;

        tr {
            height: 24px;
            
            th, td {
                padding: 0 4px;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        .scroll-table {
            height: calc(100% - 33px);
        }
    }    
    
    .table-lc {
        .wid-estabelecimento {
            width: 5%;
            min-width: 50px;
            max-width: 50px;
        }
        .wid-localizacao {
            width: 16%;
            min-width: 180px;
            max-width: 180px;
        }
        .wid-quantidade {
            width: 4%;
            min-width: 105px;
            max-width: 105px;
        }
        .wid-tamanho {
            width: 5%;
            min-width: 33px;
            max-width: 33px;
        }
        .wid-transacao {
            width: 5%;
            min-width: 75px;
            max-width: 75px;
        }
        .wid-documento {
            width: 4%;
            min-width: 68px;
            max-width: 68px;
        }
        .wid-talao {
            width: 4%;
            min-width: 75px;
            max-width: 75px;
        }
        .wid-data {
            width: 5%;
            min-width: 55px;
            max-width: 55px;
        }
        .wid-tipo {
            width: 2%;
            min-width: 32px;
            max-width: 32px;
        }
        .wid-operacao {
            width: 2%;
            min-width: 55px;
            max-width: 55px;
        }
        .wid-usuario {
            width: 7%;
            min-width: 140px;
            max-width: 140px;
        }
        .wid-observacao {
            width: 12%;
            min-width: 230px;
            max-width: 230px;
        }
        .wid-vinculo {
            width: 12%;
            min-width: 230px;
            max-width: 230px;
        }
    }
}