/**
 * _15070 - Transacoes de Consumos de Remessas
 */
@import "../helper/partials/padrao.scss";

#main {
    margin-top: -8px;
    
    // Menu
    
    .table-produtos {
        &.table-container {
            .scroll-table {
                height: calc(100% - 45px);        
            }
        }
    }    

    .info-destaque {
        position: absolute;
        z-index: 99;
        right: 0px;
        top: -42px; 

        .label {
            display: inline-table;
            margin-left: -4px;
            height: 52px;
            padding: 10px 15px 7px 15px;
            @include border-radius(0);

            &:first-of-type {
                @include border-radius(4px 0 0 4px);

                &.label-default-light {
                    float: left;
                    margin-right: 3px;
                    padding: 0;
                    background-color: transparent;
                    border: 1px solid $lightGrey;
                }
            }
            &:last-of-type {
                @include border-radius(0 4px 4px 0);
            }

            &#operador span.valor {
                max-width: 180px;
            }

            &#up-destaque span.valor {
                max-width: 150px;
            }

            &#estacao-destaque span.valor {
                max-width: 100px;
            }

            > span {
                display: block;
                width: 100%;

                &:first-of-type {
                    font-size: 12px;
                    font-weight: normal;
                }

                &.valor {
                    margin-top: 2px;
                    font-size: 17px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

        }
    }
    
    
    .lote-status{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 9px;
        margin-top: 0px;
        margin-bottom: -3px;
    }

    .lote-status.fechado{
        background-color: green;     
    }

    .lote-status.aberto{
        background-color: red;     
    }
    
    
    // Padrão
    
    
    .main-ctrl {
        position: relative;
        height: calc(100vh - 130px);
    }
    
    .tab-content {
        height: calc(100vh - 177px);
        min-height: 450px;
        
        .tab-pane {
            height: 100%;
        }
    }
    
    .main-container {
        height: calc(100% - 170px);
        
        .input-action {
            width: calc(100% - 212px);
            display: initial;            
        }
        
        .header {
            height: 200px;
            
            .header-item {
                height: 100%;
            }
        }
        
        .footer {
            height: calc(100% - 210px);
            min-height: 218px;
            
            .footer-item {
                height: 100%;
            }
        }
        
        .table-container {
            height: calc(100% - 25px);
        }
        
        input {
            margin-bottom: 3px;
            height: 23px;        
        }
    }
        
    .table-container {
        overflow: scroll;
        height: 100%;

        .scroll-table {
            height: calc(100% - 22px);
        }        
    }
    
    table{
        
        tr {
            height: 23px;
            
            &:focus {
                outline: none;
            }    
        }
        
        tr {        
            
            th {
                padding-top: 0 !important;; 
            }
            
            th, td {
                padding: 3px 4px 0 4px;
                vertical-align: middle;         
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                
                button {
                    margin-bottom: 3px;
                }
            }
        }
        
    } 
    
    #remessa {
        width: 100%;
        height: 100%;
        
    }
    
    #talao {  
        width: 100%;
        /*width: calc(100% - 325px);*/
        /*float: left;*/
        /*margin-left: 10px;*/
       
    }
    
    #consumo {  
        width: 100%;
/*        float: left;
        clear: both;*/
        margin-top: 10px;
    }

    .produto-alerta {
        color: $redDanger;
        font-weight: bold;
    }
    
    .text-alert {
        color: $redDanger;
    }
    
    .um {
        text-transform: lowercase;
    }
    
    .wid-remessa {
        width: 30%;
        min-width: 90px;
        max-width: 90px;        
    }

    .wid-data {
        width: 25%;
        min-width: 65px;
        max-width: 65px;        
    }

    .wid-familia {
        width: 45%;
        min-width: 120px;
        max-width: 120px;        
    }
 
    .wid-talao {
        width: 10%;
        min-width: 40px;
        max-width: 40px;          
    }

    .wid-modelo {
        width: 30%;    
        min-width: 180px;
        max-width: 180px;         
    }

    .wid-cor {
        width: 40%;
        min-width: 200px;
        max-width: 200px;       
    } 
    
    $wid_produto: 290px;
    
    .wid-produto {
/*        width: 17%;
        min-width: $wid_produto;*/
        max-width: $wid_produto;  
    }

    .wid-tamanho {
        width: 3%;
        min-width: 40px;
        max-width: 40px;          
        left: $wid_produto !important;
    }

    .wid-quantidade {
        width: 7%;
        min-width: 95px;
        max-width: 95px;          
    }
   
    .wid-localizacao {
        border-bottom: 0;
    }

    .table-container {
        .table-header {
            overflow: initial;
        }

        /**
         * Controle padrão de linhas para a coluna fixada no table-lc
         */
        tr {
            &:nth-child(even) {

                td.col-fixed {
                    background: rgb(255, 255, 255);
                }            
            }          
            
            &:nth-child(odd) {
                td.col-fixed {
                    background: rgb(249, 249, 249);
                }    
            }

            &:hover {
                td.col-fixed {
                    background-color: rgb(245, 245, 245) !important;
                }
            }
            
            &.selected {
                -webkit-user-select: none; /* Chrome/Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+ */

                /* Rules below not implemented in browsers yet */
                -o-user-select: none;
                user-select: none;   
                
                td.col-fixed {
                    background-color: rgb(173, 202, 226) !important;
                }
            }
            
            th {
                .col-fixed {    
                    background-color: rgb(51, 122, 183);
                }   
            }
            
            .col-fixed {
                position: -webkit-sticky;
                position: sticky;
                left: 0;
                margin-bottom: -2px;
                box-shadow: 1px 0 0 0 rgb(204, 204, 204);
            }
        }
        

     
    }    
    
    .modal {
        .form-group {
            width: calc(100% - 10px);
            
            .form-control {
                width: 100%;
            }
        }
    }
    
    
    
    
    
    
 
    /**
     * Controle padrão de linhas para a coluna fixada no table-ec
     */
    tr {
        $height_tbody_tr : 28px;
        $row_fixed_base_height : 22px;

        &:nth-child(even) {

            td.col-fixed:not(.row-fixed) {
                background: rgb(255, 255, 255);
            }            
        }          

        &:nth-child(odd) {
            td.col-fixed:not(.row-fixed) {
                background: rgb(249, 249, 249);
            }    
        }

        &:hover {
            td.col-fixed:not(.row-fixed) {
                background-color: rgb(245, 245, 245) !important;
            }
        }

        &.selected {
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */

            /* Rules below not implemented in browsers yet */
            -o-user-select: none;
            user-select: none;   

            td.col-fixed:not(.row-fixed) {
                background-color: rgb(173, 202, 226) !important;
            }
        }

        th {
            .col-fixed {    
                background-color: rgb(51, 122, 183);
            }   
        }

        th.col-fixed {
            z-index: 999;
        }
        td.col-fixed {
            z-index: 99;
        }

        .col-fixed {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            margin-bottom: -2px;
            box-shadow: 1px 0 0 0 rgb(204, 204, 204);
        }

        .row-fixed {
            position: -webkit-sticky;
            position: sticky;
            box-shadow: 1px 0 0 0 rgb(204, 204, 204);
            font-weight: bold;
        }



        &.tr-fixed-1 {
            &:nth-child(even) {

                .row-fixed-1 {
                    background: rgb(255, 247, 218);/*#76ca41;/*rgb(200, 207, 224);*/

                    &.col-fixed {
                        background: rgb(255, 247, 218) !important;/*rgb(200, 207, 224);*/
                    }
                }         
            }          

            &:nth-child(odd) {
                .row-fixed-1 {
                    background: rgb(249, 239, 202);/*rgb(200, 207, 224);*/

                    &.col-fixed {
                        background: rgb(249, 239, 202) !important;/*rgb(200, 207, 224);*/
                    }
                }   
            }
        }

        .row-fixed-1 {
            top: #{$row_fixed_base_height};
            /*background: #76ca41;rgb(200, 207, 224);*/

            &.col-fixed {
                z-index: 999;
                /*background: #76ca41 !important;rgb(200, 207, 224);*/
            }
        }

        .row-fixed-2 {
            top: calc(#{$row_fixed_base_height} + #{$height_tbody_tr});
            background: rgb(200, 224, 222);

            &.col-fixed {
                z-index: 999;
                background: rgb(200, 224, 222) !important;
            }
        }
    }    
}