/**
 * _15090 - Conferencia de Materiais
 */
@import "../helper/partials/padrao.scss";
@import "../helper/switch.scss";

.div-frase{
    text-align: center;
    font-weight: 800;
    color: #349c5a;
    font-size: 2vw;
}