/**
 * _25011 - Formulários
 */
@import "../helper/partials/padrao.scss";

label {
	font-weight: normal;

	&.lbl-descricao, &.lbl-periodo {
		display: block;
	}
	
	&.lbl-descricao {
		font-size: 16px;
	}

	&.lbl-periodo {
		float: left;
		margin-right: 5px;
		font-weight: bold;
	}

	&.lbl-periodo-data {
		float: left;

		~ span.status {
			float: left;
			margin-left: 5px;
			width: 20px;
			height: 20px;
			@include border-radius(10px);

			&.status-0 {
				background-color: $redDanger;
			}
			&.status-1 {
				background-color: $greenSuccess;
			}
		}
	}

	&.lbl-ja-respondeu {
		float: left;
	    clear: left;
	    margin-top: 10px;
	    padding: 5px 10px;
	    font-size: 18px;
	    color: $white;
	    background-color: $greenSuccess;
	    @include border-radius(3px);
	}

	&.lbl-pergunta {
		margin-bottom: 5px !important;
		font-size: 16px;
	}

	&.lbl-colaborador-nome {
		display: block;
    	margin-top: 10px;
    	margin-bottom: 0;
	}
}

input[type="radio"] {
	top: 0 !important;

	~ label {
		top: 0 !important;
	}
}

.form-inline .form-group {
	vertical-align: top;

	&.form-group-textarea {

		&.justificativa-tipo-2 {
			float: left;
    		clear: left;
		}
	}

	.alternativa-container {
		float: left;
		margin-right: 10px;
	}
}

.table-container {

	&.table-container-formulario {

		table {

			thead, tbody {
				tr {
					th, td {
						text-transform: none !important;

						&.id {
							max-width: 50px;
							width: 50px;
						}

						&.status {
							max-width: 20px;
							width: 20px;
							padding: 8px 0;
    						text-align: center;

							&.status-0 {
								color: $redDanger;
							}
							&.status-1 {
								color: $greenSuccess;
							}
						}

						&.titulo {
							max-width: 300px;
							width: 300px;
						}

						&.descricao {
							max-width: 400px;
							width: 400px;
						}

						&.tipo {
							max-width: 200px;
							width: 200px;
						}

						&.usuario {
							max-width: 200px;
							width: 200px;
						}

						&.periodo-form {
							text-transform: none;
						}

					}
				}
			}

		}

	}

}

#autenticacao-container {
	float: left;
	clear: left;
    margin-top: 5px;
	padding: 10px;
	background-color: $lightGrey231;
	border: 1px solid $lightGrey;
    @include border-radius(5px);

	label {
		&.lbl-autenticar {
			display: block;
			font-weight: bold;
		}
	}
}