.planoacao{
    .titulo{
        text-align: center;
    }
}

table{
    .col-ccusto{
        width: 7%;
    }
   
    .col-oque{
        width: 30%;
    }
    
    .col-Quem{
        width: 13%;
    }
    
    .col-como{
        width: 30%;
    }
    
    .col-quando{
        width: 20%;
    }
}

fieldset legend {
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}