/**
 * _11090 - Teste
 */
@import "../helper/partials/padrao.scss";
@import "../helper/partials/_padrao.scss";

$tamanho-descricoes: 1.6vw;
$tamanho-desc-fab: 2.3vw;
$tamanho-desc-fab2: 1.8vw;
$tamanho-numeros: 2.5vw;
$tamanho-desc-estacao: 1.6vw;
$tamanho-perdas: 2vw;

$tamanho-taloes: 2vw;

.cor-legenda2{

    height: 12px;
    width: 12px;
    border-radius: 6px;

}

.cor-legenda2.azul{background-color: blue;}
.cor-legenda2.verde{background-color: #4CAF50;}
.cor-legenda2.amarelo{background-color: #ffd516;}
.cor-legenda2.vermelho{background-color: #ff1e16;}
.cor-legenda2.branco{background-color: white; border: 1px solid;}
.cor-legenda2.cinza{background-color: #d8d8d8;}

.f-azul{color: blue !important; border-color: black;}
.f-verde{color: #4CAF50 !important; border-color: black;}
.f-amarelo{color: #ffd516 !important; border-color: black;}
.f-vermelho{color: #ff1e16 !important; border-color: black;}
.f-branco{color: white !important; border-color: black;}
.f-cinza{color: #d8d8d8 !important; border-color: black;}

.b-branco{background-color: white !important;}
.b-cinza{background-color: #d8d8d8 !important;}

.legenda-talao {
    color: black;
    font-size: 1vw;
    font-weight: bold;
    padding: 0;
    float: right;
    margin-right: 2px;
}

.conteiner-tela{

    display: block;
    margin-top: -78px;
    border: 1px solid;
    width: calc(100vw - 1px);
    margin-left: -14px;

    .tg  {
        border-collapse:collapse;
        border-spacing:0;
    }
    .tg td{
        font-family:Arial, sans-serif;
        font-size:14px;
        padding:0;
        border-style:solid;
        border-width:1px;
        overflow:hidden;
        word-break:normal;
    }
    .tg th{
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        padding:0;
        border-style:solid;
        border-width:1px;overflow:hidden;
        word-break:normal;
    }
    .tg .tg-1sci{
        background-color:black;
        color:#ffffff;
        text-align:center;
        vertical-align:top;
        font-size: $tamanho-descricoes;
        border-radius: 4px;
        font-stretch: ultra-condensed;

    }
    
    .descfab{
        background: white;
        color: black !important;
        font-size: $tamanho-desc-fab !important;
        text-align: center;
        border-color: white;
    }

    .descfab2{
        background: white;
        color: black !important;
        font-size: $tamanho-desc-fab2 !important;
        text-align: center;
        border: 0px solid;
        border-color: white;
    }
    .tg .tg-fqys{
        background-color:black;
        color:#ffffff;
        vertical-align:top
    }



    .conteiner-estacao{
        .tg  {
            border-collapse:collapse;
            border-spacing:0;
        }
        .tg td{
            font-family:Arial, sans-serif;
            font-size:14px;
            padding:0;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            word-break:normal;
            border-radius: 4px;
        }
        .tg th{
            font-family:Arial, sans-serif;
            font-size:14px;
            font-weight:normal;
            padding:0;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            word-break:normal;
            border-radius: 4px;
        }
        .tg .tg-yw4l{
            vertical-align:top
        }
        .tg .tg-2pns{
            background-color:black;
            vertical-align:top;
            border-color: white;
        }
        
        .tg-031e{
            padding: 0px !important;
            text-align: center;
            font-size: $tamanho-numeros !important;
            font-stretch: ultra-condensed;

            div{
                margin-top: -1vh;
                margin-bottom: -1vh;
            }
        }

        .tg-031f{
            background-color: black;
            color: white;
            padding: 0px !important;
            text-align: center;
            font-size: $tamanho-numeros !important;
            font-stretch: ultra-condensed;

            div{
                margin-top: -1vh;
                margin-bottom: -1vh;
            }
        }

        .tg-031g{
            background-color: black;
            border-color: white;
            color: white;
            padding: 0px !important;
            text-align: center;
            font-size: $tamanho-desc-estacao !important;
            font-stretch: ultra-condensed;

            div{
                margin-top: -1vh;
                margin-bottom: -1vh;
            }  
        }

        .tg-031h{
            padding: 0px !important;
            text-align: center;
            font-size: $tamanho-perdas !important;
            font-stretch: ultra-condensed;

            div {
                display: inline-flex;
                width: 39%;
                margin-left: 10%;
            }
        }

        .tg-031i{
            background-color: black;
            border-color: white;
            color: white;
            padding: 0px !important;
            text-align: center;
            font-size: $tamanho-numeros !important;
            font-stretch: ultra-condensed;

            div{
                margin-top: -1vh;
                margin-bottom: -1vh;
            }  
        }

        .tg-031j{
            padding: 0px !important;
            font-size: $tamanho-taloes !important;
            font-stretch: ultra-condensed;

            .grup-valores {
                display: inline-block;
                width: 90%;
                div{

                    display: inline-flex;
                    width: 100%;

                    div{
                        display: table;
                        width: 52%;
                        margin-top: 0.3vw;
                        margin-left: 4%;
                    }

                    .remessa{
                        font-size: 1.5vw;
                        margin-top: 0.6vw;
                        font-style: italic;
                    }
                }

            }

            .grup-legenda {
                display: inline-block;
                width: 7%;
                font-size: 1vw;
                float: right;

                div{
                    div{
                        display: block;
                        width: 100%;
                        height: 1.1vw;
                    }
                } 
            }
        }
    }

}


ul.legenda{
    margin-left: 5px;
}