/**
 * _26021 - Pesquisa de satisfação do cliente
 */
 @import "../helper/partials/_padrao.scss";

.table-ec {
	height: 70vh;

	&.table-pesquisa table {

		thead, tbody {
			th, td {
				&.status {
					max-width: 20px;
					width: 20px;
					padding: 8px 0;
					text-align: center;
				}
			}
		}

		tbody {
			td {
				text-transform: none;
				
				&.status {

					&.status-1 {
						color: $yellowWarning;
					}
					&.status-2 {
						color: $greenSuccess;
					}
				}
			}
		}
	}

	&.table-cliente table {

		thead, tbody {
			th, td {

				&.id {
					width: 50px;
				}
				&.razao-social {
					width: 278px;
				}
				&.nome-fantasia {
					width: 218px;
				}
			}
		}
	}

	&.table-modelo-pesquisa table {

		thead, tbody {
			th, td {

				&.id {
					width: 50px;
				}
				&.titulo {
					width: 396px;
				}
				&.data-criacao {
					width: 100px;
				}
			}
		}
	}
}

form.form-inline {

	.legend-pesquisa-sem-nota {
		width: calc(100% + 140px);
	}
	.legend-pesquisa-com-nota {
		width: calc(100% + 210px);
	}

	.bloco-resultado {
		position: sticky;
		top: -10px;
		z-index: 1;
		float: right;
		margin-top: 50px;
		padding: 5px 10px;
		background-color: rgba($white, .7);
		border: 1px solid $black100;
		box-shadow: 1px 1px 3px $black100;
		@include border-radius(5px);
		@include transition(1s);

		&:hover {
			opacity: .1;
		}

		.form-group {
			margin-top: 0;
			margin-right: 5px;
			margin-bottom: 0;

			label {
				text-align: center;
				line-height: 1.2em;

				&:first-of-type {
					font-size: 12px;
					font-weight: normal;
				}

				&:nth-of-type(2) {
					font-size: 26px;
				}
			}
		}

		.satisfacao {
			width: 50px;
			height: 50px;
			font-size: 42px;
		    text-align: center;
		    line-height: 1.2em;
		    vertical-align: bottom;
		    color: $black;
		    text-shadow: 0px 1px 1px rgba($black, .5);
		    box-shadow: 0px 2px 4px $black;
			@include border-radius(50%);

			&.pessimo {
				$gradient: $redDanger, $redDelfa;
				@include linear-gradient($redDanger, $gradient);
			}
			&.ruim {
				$gradient: $purpleSmooth, $purple;
				@include linear-gradient($purpleSmooth, $gradient);
			}
			&.regular {
				$gradient: $yellowWarning, $yellowWarning3;
				@include linear-gradient($yellowWarning, $gradient);
			}
			&.bom {
				$gradient: $blueFocus, $bluePrimary;
				@include linear-gradient($blueFocus, $gradient);
			}
			&.otimo {
				$gradient: $greenSuccess4, $greenSuccess;
				@include linear-gradient($greenSuccess4, $gradient);
			}
		}
	}

	.form-group {
	
		label {

			&.label-indicador, &.label-pergunta, &.label-alternativa {
				font-weight: normal;
			}

			&.label-indicador, &.label-pergunta-numero, &.label-pergunta, &.label-alternativa {
				display: inline-block !important;
			}

			&.label-indicador {
		    	margin-bottom: 5px;
		    	padding: 3px 9px;
		    	font-size: 12px;
			}

			&.label-pergunta-numero, &.label-pergunta {
				font-size: 16px;
			}

			&.label-alternativa {
				margin-top: 10px !important;
				margin-right: 30px;
			}
		}

		&.form-group-textarea {
			display: block;
			margin-top: 10px;
		}
	}
}

.item-dinamico-pergunta {
	width: 100%;

	.form-group {
		vertical-align: top;
	}

	&.perg-resposta-negativa {
		background-color: rgba($redDanger, 0.1) !important;
		border-left-color: rgba($redDanger, 0.5) !important;
	}
}