@charset "UTF-8";

/**
 * _11100 - Qlik Sense
 */

/*Cores*/

.kay-cor-0 {
  background-color: #ebf4fb;
}

.kay-cor-1 {
  background-color: #ffece2;
}

.kay-cor-2 {
  background-color: #e8ffe2;
}

.kay-cor-3 {
  background-color: #e3e2ff;
}

.kay-cor-4 {
  background-color: #fffad1;
}

.kay-cor-5 {
  background-color: #7efff8;
}

.kay-cor-6 {
  background-color: #ffe2e2;
}

.kay-cor-7 {
  background-color: #f6ccf9;
}

.kay-cor-8 {
  background-color: #9ec5b7;
}

.kay-cor-9 {
  background-color: #fffbdf;
}

.kay-cor-10 {
  background-color: #ffb74d;
}

.kay-cor-11 {
  background-color: #cecece;
}

.kay-cor-12 {
  background-color: #d0b2a8;
}

.kay-cor-13 {
  background-color: #ff8bb2;
}

/*fontes*/

/* @font-face { */

/* 	font-family: Ubuntu; */

/* 	src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); */

/* } */

.modal .modal-dialog .modal-content .modal-body {
  height: calc(100vh - 115px);
  max-height: calc(100vh - 115px);
  overflow: auto;
}

.modal .modal-dialog .modal-content .modal-body iframe {
  width: 100%;
  height: calc(100% - 5px);
  border: 0px;
}

#q-hub {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

#q-route-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

#q-route-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background-color: #F2F2F2;
}

.hub-toolbar .hub-button {
  color: rgba(89, 89, 89, 0.6);
  border: none;
  background: transparent;
  height: 100%;
  width: 54px;
  border-left: 1px #D9D9D9 solid;
  border-right: 1px #D9D9D9 solid;
  cursor: pointer;
}

.hub-toolbar .hub-button:hover {
  color: #595959;
  background: rgba(0, 0, 0, 0.05);
}

.hub-toolbar .hub-button.lui-active {
  background: rgba(0, 0, 0, 0.1);
  color: #595959;
}

.hub-menu-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  font-size: 13px;
  height: 54px;
}

.hub-menu-container .lui-button {
  margin: 0 10px;
}

.hub-search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-left: 4px;
}

.hub-search-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
}

.hub-search-container.hub-searching {
  padding-right: 10px;
}

.hub-button-container {
  height: 54px;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
}

.hub-toolbar-button {
  height: 54px;
  min-width: 54px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.hub-toolbar-button .hub-toolbar-ii {
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: rgba(89, 89, 89, 0.6);
  min-width: 54px;
}

.hub-toolbar-button .hub-toolbar-ii:hover {
  color: #595959;
}

.hub-toolbar-button .hub-toolbar-ii[disabled],
.hub-search-container .hub-toolbar-button .hub-toolbar-ii[disabled]:hover {
  color: rgba(89, 89, 89, 0.2);
  cursor: default;
}

.hub-toolbar-button .btn-msg-center {
  min-width: 54px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.hub-toolbar-button .btn-msg-center:hover .btn-msg-center-i {
  color: #595959;
}

.hub-toolbar-button .btn-msg-center-i {
  height: 54px;
  line-height: 54px;
  text-align: center;
  color: rgba(89, 89, 89, 0.6);
}

.hub-toolbar-button .btn-msg-center-i:hover {
  color: #595959;
}

.hub-toolbar-button .btn-counter-span {
  display: inline-block;
  color: #FFFFFF;
  white-space: nowrap;
  text-align: center;
  min-width: 6px;
  border-radius: 17px;
  padding: 0px 5px;
  font-size: 11px;
  background-color: #52a2cc;
  top: 10px;
  right: 5px;
  position: absolute;
  box-shadow: -2px 2px 0px #FFFFFF;
}

.nav-btn-border {
  border-left: 1px #D9D9D9 solid;
  border-right: 1px #D9D9D9 solid;
  min-width: 52px;
}

.hub-nav-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  font-size: 13px;
  height: 54px;
}

.hub-nav-container .hub-nav-button {
  color: rgba(89, 89, 89, 0.6);
  border: none;
  background: transparent;
  height: 100%;
  width: 54px;
  border-left: 1px #D9D9D9 solid;
  border-right: 1px #D9D9D9 solid;
  cursor: pointer;
}

.hub-nav-container .hub-nav-button:hover {
  color: #595959;
  background: rgba(0, 0, 0, 0.05);
}

.hub-nav-container .hub-nav-button.lui-active {
  background: rgba(0, 0, 0, 0.1);
  color: #595959;
}

#q-hub-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 56px;
  flex: 0 0 56px;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
}

.hub-toolbar {
  background: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  min-height: 0px;
}

.hub-toolbar .brand-img {
  width: 170px;
  padding-right: 20px;
  padding-left: 10px;
  vertical-align: middle;
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

.qui-toolbar-footer {
  background: #61a729;
  -ms-flex: 0 0 2px;
  flex: 0 0 2px;
}

.q-no-route {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
  max-width: 600px;
  margin: auto;
}

.q-hub-search {
  background-color: #F2F2F2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.q-search-area {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 0;
}

.q-search-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 38px;
  flex: 0 0 38px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  background-color: #FFFFFF;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.q-hub-searching {
  background-color: #FFFFFF;
  z-index: 1;
  position: absolute;
  top: 39px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.q-search-container {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
}

#vsr-scroll-parent .qv-content-li,
#vsr-scroll-parent .qv-content-li-inner {
  max-height: 220px;
  min-height: 220px;
}

#vsr-scroll-parent .ao-mw {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-sidebar .q-hub-bar-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-sidebar .q-menu-name {
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.q-hub-sidebar .q-multi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: -ms-flexbox;
  display: flex;
}

.q-hub-sidebar .q-multi-title .lui-icon {
  font-size: 12px;
  color: #595959;
}

.q-hub-sidebar .q-multi-title .q-menu-icon-arrow {
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  text-align: right;
}

.q-hub-sidebar .q-multi-title .q-multi-menu-title {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.q-hub-sidebar .hub-list-multi {
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-sidebar .hub-list-multi .lui-list {
  box-shadow: inset 0 -1px 0px 0 rgba(0, 0, 0, 0.1);
}

.q-hub-sidebar .hub-list-multi:last-of-type .lui-list {
  box-shadow: none;
}

.q-hub-sidebar .multi-li-collapsed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.q-hub-sidebar .stream-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.q-hub-sidebar .q-stream-list {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #FBFBFB;
}

.q-hub-sidebar .q-my-list {
  background-color: #FBFBFB;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.q-hub-sidebar .hub-li-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-weight: bold;
  padding-left: 0;
}

.q-hub-sidebar .hub-li-selected {
  border-left: 5px solid #61a729;
  padding-left: 0 !important;
}

.q-hub-sidebar .hub-li-icon {
  width: 20px;
}

.q-hub-user-foldout .lui-list {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.q-hub-user-foldout .hub-lui__li {
  height: 52px;
}

.q-hub-user-foldout .q-hub-user-li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.q-hub-user-foldout .q-avatar {
  padding-left: 0;
}

.q-hub-user-foldout .username {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  font-weight: bold;
}

.q-hub-user-foldout-smalldevice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-user-foldout-smalldevice .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FBFBFB;
}

.q-hub-user-foldout-smalldevice .previous-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  color: #595959;
}

.q-hub-user-foldout-smalldevice .placeholder {
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}

.q-hub-user-foldout-smalldevice .header-title {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 17px;
  font-weight: bold;
  padding: 0 10px;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.q-hub-user-foldout-smalldevice .q-hub-user-ul {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.q-hub-user-foldout-smalldevice .q-hub-user-foldout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-user-foldout-smalldevice .footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FBFBFB;
}

.q-hub-user-foldout-smalldevice .logout-wrapper {
  display: -ms-flexbox;
  display: flex;
  color: #595959;
}

.q-hub-user-foldout-smalldevice .lui-icon--log-out {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

.q-hub-user-foldout-smalldevice .lui-icon {
  font-size: 20px;
}

.user-profile-modal.user-profile-modal-small {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FBFBFB;
}

.user-profile-modal .header-small-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FBFBFB;
}

.user-profile-modal .header-small {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0;
}

.user-profile-modal .previous-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 54px;
  color: #595959;
}

.user-profile-modal .header-title {
  font-weight: bold;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  text-align: center;
}

.user-profile-modal .placeholder {
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}

.user-profile-modal .user-profile-body {
  display: -ms-flexbox;
  display: flex;
}

.user-profile-modal .user-profile-content {
  display: -ms-flexbox;
  display: flex;
}

.user-profile-modal .q-avatar-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-profile-modal .user-name {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-profile-modal .column-title {
  font-style: italic;
}

.user-profile-modal .column-info {
  padding-bottom: 10px;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-area-container.is-visible {
  -ms-flex: 0 0 53px;
  flex: 0 0 53px;
}

.user-area-container.is-visible.logged-out {
  -ms-flex: 0 0 38px;
  flex: 0 0 38px;
}

.user-area-container.is-visible .user-area {
  min-height: 52px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user-area-container.is-visible.logged-out .user-area {
  min-height: 38px;
}

.user-area-container.is-visible .q-ul-user {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 100%;
}

.user-area-container.is-visible .q-li-user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 100%;
  font-weight: bold;
  line-height: normal;
  padding-left: 10px;
}

.user-area-container.is-visible .q-li-user.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.user-area-container.is-visible .q-li-user .login-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-area-container.is-visible .q-li-user .login-title {
  padding-left: 10px;
}

.user-area-container.is-visible.logged-out .q-li-user {
  -ms-flex-pack: center;
  justify-content: center;
}

.user-area-container.is-visible .user-area-details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 2 0 0;
  flex: 2 0 0;
  -ms-flex-item-align: center;
  align-self: center;
  color: #595959;
}

.user-area-container.is-visible .user-area-details .user-name,
.user-area-container.is-visible .user-area-details .user-email {
  font-weight: 600;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-area-container.is-visible .user-area-details .user-email {
  font-weight: normal;
  font-size: 12px;
}

.qv-content-li-inner {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.qv-grid .qv-item-border-inner {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  top: -3px;
  right: 4px;
  width: 136px;
  height: 146px;
}

.qv-grid .qv-item-border-outer {
  position: absolute;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  top: -6px;
  right: 8px;
  width: 128px;
  height: 146px;
}

.item-thumbnail-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background: #FFFFFF;
}

.item-thumbnail-wrapper .item-syncing {
  width: 65px;
  z-index: 9;
  height: 65px;
  margin-top: 15px;
  margin-left: 40px;
}

.item-thumbnail-wrapper .thumb-hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  display: none;
}

.qv-content-li .qv-img-thumb {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ao-mw {
  max-width: 520px;
}

.touch-off .qv-list .qv-item-enabled.qv-content-li:hover {
  background-color: rgba(0, 0, 0, 0.03);
  z-index: 1;
  box-shadow: 0 1px #D9D9D9, 0 -1px #D9D9D9;
}

.touch-off .qv-grid .qv-details-info {
  visibility: hidden;
}

.touch-off .qv-grid .qv-item-enabled.qv-content-li:hover .qv-details-info {
  visibility: visible;
}

.touch-off .qv-grid .qv-item-enabled.qv-content-li .qv-thumb-wrap:hover .item-thumb .thumb-hover,
.touch-off .qv-grid .qv-item-enabled.qv-content-li .qv-thumb-wrap:hover .item-thumbnail-wrapper .thumb-hover {
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 1;
  background: rgba(0, 0, 0, 0.05);
}

.touch-off .qv-grid .qv-item-enabled.qv-content-li .qv-details-wrap:hover {
  background: #F2F2F2;
}

.touch-off .qv-grid .qv-item-enabled.qv-content-li .qv-details-wrap:hover .q-ellipsis {
  background: #F2F2F2;
}

.touch-off .qv-grid .qv-item-enabled.qv-content-li .qv-details-wrap:hover .qv-details-info {
  color: #595959;
  visibility: visible;
}

.touch-off .qv-item-enabled .qv-details-wrap:hover .q-ellipsis {
  background: transparent;
}

.qv-details-wrap.active .q-ellipsis {
  background: transparent;
}

.q-ellipsis {
  display: block;
  position: relative;
  background: #FFFFFF;
  max-height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.q-ellipsis:before {
  top: 1.4em;
  bottom: 0;
  content: "…";
  right: 0;
  background: inherit;
  position: absolute;
}

.q-ellipsis:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  margin-top: 1px;
}

.qv-item-disabled {
  opacity: 0.25;
}

.duplicated-item-animation {
  animation: duplicatedItemAnimation 1.5s;
  animation-delay: 300ms;
}

.duplicated-item-animation.qv-details-wrap .q-ellipsis {
  animation: duplicatedItemAnimation 1.5s;
  animation-delay: 300ms;
}

.duplicated-item-animation.qv-details-wrap .q-ellipsis:before {
  background: transparent;
}

.qv-grid .qv-content-li-inner {
  height: 100%;
}

.qv-grid .qv-content-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 100%;
  background: #FFFFFF;
  max-width: 100%;
}

.qv-grid .qv-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.qv-grid .qv-details-wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  padding: 0 8px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.qv-grid .qv-details-wrap.active {
  background: #D9D9D9;
}

.qv-grid .qv-details-wrap.active .q-ellipsis {
  background: #D9D9D9;
}

.qv-grid .qv-details-wrap.active .qv-details-info {
  color: #595959;
  visibility: visible;
}

.qv-grid .qv-details-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  line-height: 18px;
  overflow: hidden;
  -ms-flex-align: center;
  align-items: center;
}

.qv-grid .qv-thumb-wrap {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 94px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.qv-grid .qv-details-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 22px;
  flex: 0 0 22px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 22px;
  color: rgba(89, 89, 89, 0.6);
  text-align: center;
}

.qv-grid .lui-icon--lock {
  padding-top: 4px;
}

.qv-list .qv-content-li {
  width: 100%;
}

.qv-list .qv-details-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding-left: 20px;
  width: calc(100% - 166px);
  min-width: 1px;
}

.qv-list .qv-content-item .description-text {
  padding-top: 10px;
}

.qv-list .qv-content-item .description {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 200px;
  overflow: auto;
  cursor: pointer;
  margin-top: 10px;
  overflow-x: hidden;
}

.qv-list .qv-content-item .qv-text {
  cursor: pointer;
  font-size: 13px;
  word-wrap: break-word;
  color: #595959;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-width: 520px;
}

.qv-list .qv-content-item .qv-details-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.qv-list .qv-content-item .qv-details-name .qv-text {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.qv-list .qv-content-item .qv-details-name .icon-lock-margin {
  margin-right: 5px;
}

.qv-list .qv-content-item .details {
  cursor: pointer;
  font-size: 11px;
  word-wrap: break-word;
  color: #8C8C8C;
  font-style: italic;
  height: auto;
  line-height: auto;
  width: auto;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
}

.qv-list .qv-content-item .qv-thumb-wrap {
  box-shadow: none;
  -ms-flex: 0 0 144px;
  flex: 0 0 144px;
  max-height: 94px;
  height: 94px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.qv-list .qv-content-item.disable-open .description,
.qv-list .qv-content-item.disable-open .qv-text,
.qv-list .qv-content-item.disable-open .details {
  cursor: default;
}

.q-hub-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.q-hub-area .q-area {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}

.q-hub-area .q-area.no-content-area-toolbar {
  top: 10px;
}

.q-hub-area .hub-item-area-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.q-hub-area .hub-item-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: default;
}

.hub-no-items {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin: 20px;
}

.lui-dialog--hub-lui.create-app-dialog {
  max-height: 90%;
  max-width: 90%;
  min-height: 180px;
  width: 490px;
}

.lui-dialog--hub-lui.create-app-dialog .hub-override-dialog-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 22px;
}

.lui-dialog--hub-lui.create-app-dialog .dialog-header {
  margin-left: 12px;
}

.lui-dialog--hub-lui.create-app-dialog .lui-dialog__body {
  min-height: 70px;
}

.lui-dialog--hub-lui.create-app-dialog .loading {
  overflow: hidden !important;
}

.lui-dialog--hub-lui.create-app-dialog .qv-loader {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  margin: 0 auto;
  background-size: 100%;
}

.lui-dialog--hub-lui.create-app-dialog .loading-msg {
  text-align: center;
  margin-top: 12px;
}

.qv-fail {
  color: #E64E4E;
}

.q-area-toolbar {
  display: -ms-flexbox;
  display: flex;
}

.q-hub-area-toolbar .buttons .sort-filter {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 100px;
  max-width: 200px;
  width: auto;
}

.q-hub-area-toolbar .buttons .sort-filter .lui-caret {
  float: right;
}

.q-avatar-28 {
  width: 28px;
  height: 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.q-avatar-28 .lui-icon {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 16px;
}

.q-avatar-32 {
  width: 32px;
  height: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.q-avatar-32 .lui-icon {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 20px;
}

.q-avatar-100 {
  width: 100px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.q-avatar-100 .lui-icon {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 70px;
}

.q-avatar img.avatar {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.q-hub-publish-app {
  width: 490px;
}

.q-hub-publish-app__label {
  display: block;
  color: #595959;
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 2px;
}

.q-hub-publish-app__label:not(:first-child) {
  margin-top: 27px;
}

.q-hub-publish-app__label--single-stream {
  display: block;
  position: relative;
  background: #FFFFFF;
  max-height: 2.7em;
  line-height: 1.35em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.q-hub-publish-app__label--single-stream:before {
  top: 1.35em;
  bottom: 0;
  content: "…";
  right: 0;
  background: inherit;
  position: absolute;
}

.q-hub-publish-app__label--single-stream:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  margin-top: 1px;
}

.q-hub-publish-app__help-label {
  display: block;
  color: #8C8C8C;
  font-size: 12px;
  margin-bottom: 4px;
}

.q-hub-publish-app__validation-label-area {
  min-height: 32px;
  margin-top: 4px;
}

.q-hub-publish-app__validation-label {
  display: block;
  color: #8C8C8C;
  font-size: 12px;
}

.q-hub-publish-app__validation-label--fail {
  color: #E64E4E;
}

.q-hub-publish-app__single-stream-area {
  margin-top: 5px;
}

.q-hub-publish-app__group {
  display: -ms-flexbox;
  display: flex;
}

.q-hub-publish-app__group__item {
  -ms-flex: none;
  flex: none;
  margin-left: 10px;
}

.q-hub-publish-app__group__item:first-child {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  margin-left: 0px;
}

.base-item-card-wrap .button-header {
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.base-item-card-wrap .q-card-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.base-item-card-wrap .q-card-ribbon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #FBFBFB;
}

.base-item-card-wrap .q-item-info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 312px;
  width: 100%;
  background-color: #595959;
  color: #FFFFFF;
  overflow-y: auto;
  overflow-x: hidden;
}

.base-item-card-wrap .thumb-img {
  width: 190px;
  height: 116px;
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 3px;
}

.base-item-card-wrap .thumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  min-width: 194px;
  position: relative;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.base-item-card-wrap .thumb-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 236px;
  flex: 0 0 236px;
}

.base-item-card-wrap .details-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 20px;
  width: 0;
  max-width: 744px;
  min-width: 0px;
}

.base-item-card-wrap .info-details {
  font-size: 11px;
  font-style: italic;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 13px;
  flex: 0 0 13px;
  margin-bottom: 5px;
}

.base-item-card-wrap .user-info {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 25px;
}

.base-item-card-wrap .app-info-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 16px;
  flex: 0 0 16px;
  margin: 20px 0 10px 0;
}

.base-item-card-wrap .item-value-span {
  height: auto;
  line-height: auto;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
}

.base-item-card-wrap .title-span {
  height: auto;
  line-height: auto;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.base-item-card-wrap .span-info {
  white-space: nowrap;
}

.base-item-card-wrap .info-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 162px;
  flex: 0 0 162px;
}

.base-item-card-wrap .description-container {
  display: -ms-flexbox;
  display: flex;
}

.base-item-card-wrap .description {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 520px;
  padding-right: 10px;
  margin: 0 0 20px 20px;
}

.base-item-card-wrap .button-open {
  margin-left: 10px;
}

.base-item-card-wrap .info-lock-align {
  vertical-align: top;
}

.q-msg-center-preview {
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
}

.q-msg-center-preview .msg-center-empty-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  height: 100%;
}

.q-msg-center-preview .msg-center-preview-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  min-width: 230px;
}

.q-msg-center-preview .msg-center-item {
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.q-msg-center-preview .msg-center-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.q-msg-center-preview .msg-center-item-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.q-msg-center-preview .msg-center-avatar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 54px;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.q-msg-center-preview .msg-center-info-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 10px;
}

.q-msg-center-preview .msg-center-info {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.q-msg-center-preview .msg-center-sender {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 13px;
  height: auto;
  width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.q-msg-center-preview .msg-center-date {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: right;
  font-size: 11px;
  color: #8C8C8C;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: -5px;
}

.q-msg-center-preview .msg-center-subject {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 12px;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 0;
}

.q-msg-center-preview .msg-center-selected {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.q-msg-center-preview .msg-center-unread {
  font-weight: bold;
}

.q-msg-center-reading-pane {
  height: 355px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-msg-center-reading-pane .msg-center-no-message {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  height: 100%;
}

.q-msg-center-reading-pane .msg-center-info-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-msg-center-reading-pane .msg-center-info {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
}

.q-msg-center-reading-pane .msg-center-sender {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 13px;
  height: auto;
  width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #8C8C8C;
}

.q-msg-center-reading-pane .msg-center-subject {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: block;
  position: relative;
  max-height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  width: 0;
  font-size: 15px;
  color: #595959;
  margin-top: 5px;
  margin-bottom: 10px;
}

.q-msg-center-reading-pane .msg-center-subject:before {
  top: 1.4em;
  bottom: 0;
  content: "…";
  right: 0;
  background: inherit;
  position: absolute;
}

.q-msg-center-reading-pane .msg-center-subject:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  margin-top: 1px;
}

.q-msg-center-reading-pane .msg-center-date {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: right;
  font-size: 11px;
  color: #8C8C8C;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  padding-left: 10px;
}

.q-msg-center-reading-pane .msg-center-message {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.q-msg-center-reading-pane .msg-center-delete {
  right: 0;
  margin-right: 10px;
}

.q-msg-center-reading-pane .msg-center-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.msg-center-card-wrap {
  height: 100%;
}

.msg-center-card-wrap .button-header {
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.msg-center-card-wrap .q-card-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.msg-center-card-wrap .q-msg-center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-direction: row;
  flex-direction: row;
  max-height: 355px;
}

.q-hub-msg-center-smalldevice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  z-index: 390;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.q-hub-msg-center-smalldevice .msg-center-small-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 54px;
  flex: 0 0 54px;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FBFBFB;
}

.q-hub-msg-center-smalldevice .previous-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  color: #595959;
}

.q-hub-msg-center-smalldevice .header-title {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-size: 17px;
  font-weight: bold;
  padding: 0 10px;
  height: auto;
  line-height: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.q-hub-msg-center-smalldevice .placeholder {
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  border-right: 0px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-preview-list {
  max-width: 100%;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-item {
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-avatar {
  height: 64px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-sender {
  font-size: 16px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-date {
  font-size: 13px;
}

.q-hub-msg-center-smalldevice .q-msg-center-preview .msg-center-subject {
  font-size: 14px;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-info-container {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-info {
  margin-right: 10px;
  margin-left: 10px;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-sender {
  font-size: 14px;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-date {
  font-size: 13px;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-subject {
  font-size: 16px;
  font-weight: bold;
}

.q-hub-msg-center-smalldevice .q-msg-center-reading-pane .msg-center-message {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.hub-toast {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 44px;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0D0D0D;
  z-index: 1033;
}

.hub-toast-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px;
  overflow: hidden;
  height: 100%;
  min-width: 200px;
}

.hub-toast-content__message {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  position: relative;
  max-height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  background-color: #0D0D0D;
  padding-left: 10px;
}

.hub-toast-content__message:before {
  top: 1.4em;
  bottom: 0;
  content: "…";
  right: 0;
  background: inherit;
  position: absolute;
}

.hub-toast-content__message:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  margin-top: 1px;
}

.hub-toast-action-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  min-width: 80px;
}

.hub-toast-action-content__action {
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  background-color: #0D0D0D;
  display: block;
  position: relative;
  max-height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.hub-toast-action-content__action:before {
  top: 1.4em;
  bottom: 0;
  content: "…";
  right: 0;
  background: inherit;
  position: absolute;
}

.hub-toast-action-content__action:after {
  content: "";
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  margin-top: 1px;
}

.touch-off .hub-toast .hub-toast-action-content:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
}

.show-toast-animation {
  transition: all 500ms ease;
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}

.prepare-toast-animation {
  transition: all 0ms ease;
  transform: translate(0px, 100%);
  opacity: 0;
  visibility: hidden;
}

.fade-away-toast {
  transition: all 500ms ease;
  transform: translate(0px, 0px);
  opacity: 0;
  visibility: hidden;
}

.q-hub-sidebar .lui-list__item {
  border-bottom: 0;
  padding-left: 5px;
}

.lui-dialog.lui-dialog--hub-lui {
  min-height: 178px;
  min-width: 480px;
}

.lui-dialog.lui-dialog--hub-lui .lui-dialog__body {
  word-wrap: break-word;
}

#q-hub-user-popover-override {
  width: 250px;
}

body {
  cursor: default;
  -webkit-text-size-adjust: 100%;
}

[qva-activate],
[data-action] {
  cursor: pointer;
}

.q-hub-ul {
  list-style: none;
}

@media (min--moz-device-pixel-ratio: 0) {
  .item-thumbnail-wrapper {
    height: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .qv-list .qv-content-item .qv-thumb-wrap {
    box-sizing: border-box;
    min-height: 96px;
  }
}

@media screen and (min-width: 641px) and (min-height: 481px) {
  .hub-search-container {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .hub-search-container.hub-searching {
    border-left: 1px #D9D9D9 solid;
  }

  .q-hub-sidebar {
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
    background: #FFFFFF;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    min-width: 140px;
    border-right: #D9D9D9 1px solid;
    overflow: hidden;
  }

  .q-hub-sidebar .q-hub-bar-container {
    max-width: 200px;
    min-width: 140px;
  }

  .q-hub-sidebar .q-ul-stream {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .q-hub-sidebar .q-multi-title {
    -ms-flex: 0 0 38px;
    flex: 0 0 38px;
  }

  .q-hub-sidebar .q-stream-list {
    position: relative;
  }

  .user-profile-modal {
    width: 480px;
  }

  .user-profile-modal .user-details-container {
    width: 320px;
    margin-left: 20px;
    font-size: 13px;
  }

  .qv-list .qv-item-border-inner {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 136px;
    height: 94px;
    top: 17px;
    left: 24px;
  }

  .qv-list .qv-item-border-outer {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 128px;
    height: 94px;
    top: 14px;
    left: 28px;
  }

  .qv-grid {
    list-style: none;
    box-sizing: border-box;
    margin: 0 10px 20px 10px;
  }

  .qv-grid:after {
    content: "";
    clear: both;
    display: block;
  }

  .qv-grid .qv-content-li {
    vertical-align: top;
    width: 146px;
    height: 145px !important;
    display: inline-block;
    margin: 20px 10px 0;
  }

  .qv-grid .qv-text {
    max-height: 34px;
  }

  .qv-list .qv-content-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 1px;
    min-height: 96px;
  }

  .q-area-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .q-area-toolbar .plus-sign {
    display: none;
  }

  .q-hub-area-toolbar {
    background-color: #FFFFFF;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    position: relative;
  }

  .q-hub-area-toolbar .plus-sign {
    display: none;
  }

  .q-hub-area-toolbar .hub-span {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    height: 44px;
    line-height: 44px;
    margin: 0 20px;
    font-size: 15px;
    font-weight: bold;
    color: #595959;
    height: auto;
    line-height: auto;
    white-space: nowrap;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 0;
  }

  .q-hub-area-toolbar .buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center;
  }

  .q-hub-area-toolbar .button-div {
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) and (min-height: 481px) {
  .q-hub-area-toolbar .create-new {
    display: none;
  }

  .q-hub-area-toolbar .plus-sign {
    display: block;
  }
}

@media screen and (max-width: 640px), screen and (max-height: 480px) {
  .hub-search-container {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .hub-toolbar-button .lui-icon {
    font-size: 20px;
  }

  .hub-toolbar-button.msg-center-btn-small {
    border-right: 1px #D9D9D9 solid;
  }

  .hub-nav-container .hub-nav-button .lui-icon {
    font-size: 20px;
  }

  .hub-toolbar .hub-brand {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
    height: 54px;
    line-height: 54px;
    position: relative;
  }

  .hub-toolbar .brand-img {
    padding-right: 0;
  }

  .hub-toolbar .stream-title {
    font-size: 17px;
    font-weight: bold;
    padding: 0 10px;
    height: auto;
    line-height: auto;
    width: 100%;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 54px;
    line-height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .q-hub-sidebar {
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
    background: #FFFFFF;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-width: 100%;
    font-size: 16px;
    position: relative;
  }

  .q-hub-sidebar .q-hub-bar-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .q-hub-sidebar .my-work-container {
    min-height: 44px;
  }

  .q-hub-sidebar .q-multi-title {
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    cursor: default;
  }

  .q-hub-user-foldout .q-hub-user-li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }

  .user-profile-modal .user-profile-body {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    overflow-y: auto;
  }

  .user-profile-modal .user-profile-content {
    -ms-flex: 1 auto;
    flex: 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 20px 10px;
  }

  .user-profile-modal .q-avatar-container {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    padding: 20px;
  }

  .user-profile-modal .user-details-container {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-top: 20px;
    font-size: 15px;
  }

  .qv-list .qv-item-border-inner {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 136px;
    height: 94px;
    top: 12px;
    left: 9px;
  }

  .qv-list .qv-item-border-outer {
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 128px;
    height: 94px;
    top: 9px;
    left: 13px;
  }

  .qv-grid {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .qv-grid:after {
    content: "";
    clear: both;
    display: block;
  }

  .qv-grid .qv-content-li {
    vertical-align: top;
    width: 146px;
    height: 145px !important;
    display: inline-block;
    margin: 5px 5px 10px 5px;
  }

  .qv-grid .qv-text {
    font-size: 15px;
  }

  .qv-list .qv-content-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 5px;
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 1px;
    min-height: 96px;
    padding-top: 15px;
  }

  .q-area-toolbar {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .q-hub-area-toolbar {
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    padding: 0 5px;
    border-bottom: none;
  }

  .q-hub-area-toolbar .buttons {
    width: 100%;
    height: 44px;
  }

  .q-hub-area-toolbar .buttons .sort-filter {
    -ms-flex: 2 2 100%;
    flex: 2 2 100%;
    max-width: 100%;
    text-align: left;
  }

  .q-hub-area-toolbar .button-div {
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 10px;
  }

  .q-hub-area-toolbar .button-div .asc-desc {
    -ms-flex: 1 1 44px;
    flex: 1 1 44px;
  }

  #q-hub-menu-override-small .lui-list__hub-small {
    font-size: 15px;
    color: #FFFFFF;
    background-color: #404040;
  }

  #q-hub-menu-override-small .lui-list__hub-small:hover {
    background-color: #4D4D4D;
  }

  #q-hub-menu-override-small .lui-list__hub-small .lui-icon {
    font-size: 22px;
  }

  .q-hub-sidebar .lui-list__item {
    height: 44px;
    line-height: 44px;
  }
}

@keyframes duplicatedItemAnimation {
  5% {
    background-color: #B2E5FF;
  }

  30% {
    background-color: #FFFFFF;
  }

  35% {
    background-color: #B2E5FF;
  }

  100% {
    background-color: #FFFFFF;
  }
}