/*Cores*/

.kay-cor-0 {
  background-color: #ebf4fb;
}

.kay-cor-1 {
  background-color: #ffece2;
}

.kay-cor-2 {
  background-color: #e8ffe2;
}

.kay-cor-3 {
  background-color: #e3e2ff;
}

.kay-cor-4 {
  background-color: #fffad1;
}

.kay-cor-5 {
  background-color: #7efff8;
}

.kay-cor-6 {
  background-color: #ffe2e2;
}

.kay-cor-7 {
  background-color: #f6ccf9;
}

.kay-cor-8 {
  background-color: #9ec5b7;
}

.kay-cor-9 {
  background-color: #fffbdf;
}

.kay-cor-10 {
  background-color: #ffb74d;
}

.kay-cor-11 {
  background-color: #cecece;
}

.kay-cor-12 {
  background-color: #d0b2a8;
}

.kay-cor-13 {
  background-color: #ff8bb2;
}

/*fontes*/

/* @font-face { */

/* 	font-family: Ubuntu; */

/* 	src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); */

/* } */

@media (max-width: 768px) {
  form > .row {
    margin-bottom: 15px;
  }

  form > .row:nth-child(2) {
    width: 100%;
    overflow: auto;
  }

  form > .row > div {
    float: left;
  }

  form > .row > div:last-child {
    clear: left;
  }

  form > .row > div.form-group input[type="checkbox"] {
    float: left;
    top: 0;
  }

  form > .row > div.form-group input[type="checkbox"] ~ label {
    float: right;
    margin-left: 4px;
    margin-top: 4px;
  }

  form > .row > div.form-group input[type="date"] {
    margin-bottom: 10px;
    width: auto !important;
  }
}

body > .container-fluid {
  padding-top: 15px;
}

form.form-inline .form-group label.periodo-a {
  display: inline-block;
}

form.form-inline .form-group button.filtrar {
  top: 10px;
}

ul.legenda {
  margin-left: 5px;
  background-color: white;
}

.panel {
  overflow: hidden;
}

.panel .panel-vazio {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #337ab7;
  background-color: white;
}

.panel .panel-collapse.in {
  border-bottom: 1px solid lightgray;
}

.panel.panel-primary > .panel-heading a {
  color: white;
}

.panel > .titulo-lista span:nth-child(1),
.panel > .panel-heading a span:nth-child(1) {
  width: 300px;
}

.panel > .titulo-lista span:nth-child(2),
.panel > .panel-heading a span:nth-child(2) {
  width: 150px;
}

.panel > .titulo-lista span:nth-child(3),
.panel > .panel-heading a span:nth-child(3) {
  width: 150px;
}

.panel > .titulo-lista span:nth-child(4),
.panel > .panel-heading a span:nth-child(4) {
  width: 150px;
}

.panel > .titulo-lista span:nth-child(5),
.panel > .panel-heading a span:nth-child(5) {
  width: 150px;
}

.panel > .titulo-lista {
  color: white;
  font-size: 12px;
}

.panel > .panel-heading a {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.panel > .panel-heading a span {
  padding: 7px 5px;
}

.panel .panel-heading {
  border-top: 1px solid lightgray;
}

.panel .panel-heading:first-of-type {
  border-top: 0;
}

.panel .panel-body {
  padding: 5px;
}

.panel.panel-table .panel-body .panel .panel-heading {
  border-bottom: 1px solid lightgray;
}

.panel.panel-estab {
  background-color: #ebf0ff;
}

.panel.panel-estab > .panel-heading a {
  background-color: #337ab7;
}

.panel.panel-estab > .panel-heading a:hover,
.panel.panel-estab > .panel-heading a:not(.collapsed) {
  background-color: #286090;
}

.panel.panel-estab > .panel-heading a span {
  width: auto;
  border: 0;
}

.panel.panel-estab > .panel-heading a span:nth-child(2) {
  font-weight: bold;
}

.panel .gp-group {
  margin-bottom: 0;
  padding: 5px;
}

.panel.panel-gp {
  background-color: #dff0d8;
}

.panel.panel-gp > .titulo-lista {
  background-color: rgba(68, 157, 68, 0.7);
}

.panel.panel-gp > .panel-heading a:hover,
.panel.panel-gp > .panel-heading a:not(.collapsed) {
  background-color: rgba(68, 157, 68, 0.2);
}

.panel.panel-up {
  background-color: #fcf8e3;
}

.panel.panel-up > .titulo-lista {
  background-color: rgba(220, 153, 58, 0.7);
}

.panel.panel-up > .panel-heading a:hover,
.panel.panel-up > .panel-heading a:not(.collapsed) {
  background-color: rgba(220, 153, 58, 0.2);
}

.panel.panel-estacao {
  background-color: #f2dede;
}

.panel.panel-estacao > .titulo-lista {
  background-color: rgba(157, 63, 69, 0.7);
}

.panel.panel-estacao > .panel-heading a:hover,
.panel.panel-estacao > .panel-heading a:not(.collapsed) {
  background-color: rgba(157, 63, 69, 0.2);
}

.panel.panel-talao {
  background-color: #ebf0ff;
}

.panel.panel-talao > .titulo-lista {
  background-color: rgba(40, 96, 144, 0.7);
}

.panel.panel-talao > .panel-heading a:hover,
.panel.panel-talao > .panel-heading a:not(.collapsed) {
  background-color: rgba(40, 96, 144, 0.2);
}

.panel.panel-talao > .panel-heading a span.t-status.status-talao1:before {
  background-color: #f0ad4e;
}

.panel.panel-talao > .panel-heading a span.t-status.status-talao2:before {
  background-color: #337ab7;
}

.panel.panel-talao > .panel-heading a span.t-status.status-talao3:before {
  background-color: #449d44;
}

.panel.panel-talao ul.legenda li:nth-child(1) div.cor-legenda {
  background-color: #f0ad4e;
}

.panel.panel-talao ul.legenda li:nth-child(2) div.cor-legenda {
  background-color: #337ab7;
}

.panel.panel-talao ul.legenda li:nth-child(3) div.cor-legenda {
  background-color: #449d44;
}

.panel.panel-talao > .titulo-lista span:nth-child(1),
.panel.panel-talao > .panel-heading a span:nth-child(1) {
  width: 20px;
}

.panel.panel-talao > .titulo-lista span:nth-child(2),
.panel.panel-talao > .panel-heading a span:nth-child(2) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(3),
.panel.panel-talao > .panel-heading a span:nth-child(3) {
  width: 300px;
}

.panel.panel-talao > .titulo-lista span:nth-child(4),
.panel.panel-talao > .panel-heading a span:nth-child(4) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(5),
.panel.panel-talao > .panel-heading a span:nth-child(5) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(6),
.panel.panel-talao > .panel-heading a span:nth-child(6) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(7),
.panel.panel-talao > .panel-heading a span:nth-child(7) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(8),
.panel.panel-talao > .panel-heading a span:nth-child(8) {
  width: 100px;
}

.panel.panel-talao > .titulo-lista span:nth-child(9),
.panel.panel-talao > .panel-heading a span:nth-child(9) {
  width: 100px;
}

.panel.panel-talao-detalhe {
  background-color: #dff0d8;
}

.panel.panel-talao-detalhe > .titulo-lista {
  background-color: rgba(108, 137, 108, 0.7);
}

.panel.panel-talao-detalhe > .panel-heading a {
  background-color: #f0ffeb;
}

.panel.panel-talao-detalhe > .panel-heading a:hover,
.panel.panel-talao-detalhe > .panel-heading a:not(.collapsed) {
  background-color: rgba(108, 137, 108, 0.2);
}

.panel.panel-talao-detalhe > .panel-heading a span.t-status.status-detalhe1:before {
  background-color: #f0ad4e;
}

.panel.panel-talao-detalhe > .panel-heading a span.t-status.status-detalhe2:before {
  background-color: #337ab7;
}

.panel.panel-talao-detalhe > .panel-heading a span.t-status.status-detalhe3:before {
  background-color: #449d44;
}

.panel.panel-talao-detalhe > .panel-heading a span.t-status.status-detalhe6:before {
  background-color: #828282;
}

.panel.panel-talao-detalhe ul.legenda li:nth-child(1) div.cor-legenda {
  background-color: #f0ad4e;
}

.panel.panel-talao-detalhe ul.legenda li:nth-child(2) div.cor-legenda {
  background-color: #337ab7;
}

.panel.panel-talao-detalhe ul.legenda li:nth-child(3) div.cor-legenda {
  background-color: #449d44;
}

.panel.panel-talao-detalhe ul.legenda li:nth-child(4) div.cor-legenda {
  background-color: #828282;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(1),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(1) {
  width: 20px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(2),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(2) {
  width: 80px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(3),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(3) {
  width: 300px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(4),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(4) {
  width: 220px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(5),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(5) {
  width: 50px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(6),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(6) {
  width: 100px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(7),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(7) {
  width: 100px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(8),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(8) {
  width: 100px;
}

.panel.panel-talao-detalhe > .titulo-lista span:nth-child(9),
.panel.panel-talao-detalhe > .panel-heading a span:nth-child(9) {
  width: 100px;
}