@charset "UTF-8";

/**
 * _23035 - Cadastro de modelo de avaliação de desempenho.
 */

/*Cores*/

.kay-cor-0 {
  background-color: #ebf4fb;
}

.kay-cor-1 {
  background-color: #ffece2;
}

.kay-cor-2 {
  background-color: #e8ffe2;
}

.kay-cor-3 {
  background-color: #e3e2ff;
}

.kay-cor-4 {
  background-color: #fffad1;
}

.kay-cor-5 {
  background-color: #7efff8;
}

.kay-cor-6 {
  background-color: #ffe2e2;
}

.kay-cor-7 {
  background-color: #f6ccf9;
}

.kay-cor-8 {
  background-color: #9ec5b7;
}

.kay-cor-9 {
  background-color: #fffbdf;
}

.kay-cor-10 {
  background-color: #ffb74d;
}

.kay-cor-11 {
  background-color: #cecece;
}

.kay-cor-12 {
  background-color: #d0b2a8;
}

.kay-cor-13 {
  background-color: #ff8bb2;
}

/*fontes*/

/* @font-face { */

/* 	font-family: Ubuntu; */

/* 	src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); */

/* } */

table tbody {
  text-transform: none;
}

.table-modelo table thead th.id,
.table-modelo table thead td.id,
.table-modelo table tbody th.id,
.table-modelo table tbody td.id {
  width: 100px;
}

form.form-inline .form-group {
  vertical-align: top;
}

fieldset .button-container.button-container-flutuante {
  position: -webkit-sticky;
  position: sticky;
  top: -15px;
  margin-top: 0;
  z-index: 1;
  background-color: rgba(231, 231, 231, 0.5);
  background-image: linear-gradient(to right, rgba(231, 231, 231, 0.5) 35%, white);
}

.item-dinamico-container .item-dinamico button > span {
  line-height: 1.4em;
}

.fieldset-fator .item-dinamico-container,
.fieldset-formacao .item-dinamico-container,
.fieldset-resumo .item-dinamico-container {
  overflow: auto;
}

.fieldset-fator .item-dinamico-container .item-dinamico,
.fieldset-formacao .item-dinamico-container .item-dinamico,
.fieldset-resumo .item-dinamico-container .item-dinamico {
  float: left;
  margin-right: 10px;
}