@charset "UTF-8";

/**
 * _27020 - Cadastro de Modelos
 */

/*Cores*/

.kay-cor-0 {
  background-color: #ebf4fb;
}

.kay-cor-1 {
  background-color: #ffece2;
}

.kay-cor-2 {
  background-color: #e8ffe2;
}

.kay-cor-3 {
  background-color: #e3e2ff;
}

.kay-cor-4 {
  background-color: #fffad1;
}

.kay-cor-5 {
  background-color: #7efff8;
}

.kay-cor-6 {
  background-color: #ffe2e2;
}

.kay-cor-7 {
  background-color: #f6ccf9;
}

.kay-cor-8 {
  background-color: #9ec5b7;
}

.kay-cor-9 {
  background-color: #fffbdf;
}

.kay-cor-10 {
  background-color: #ffb74d;
}

.kay-cor-11 {
  background-color: #cecece;
}

.kay-cor-12 {
  background-color: #d0b2a8;
}

.kay-cor-13 {
  background-color: #ff8bb2;
}

/*fontes*/

/* @font-face { */

/* 	font-family: Ubuntu; */

/* 	src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); */

/* } */

/**
 * Estilo para impressão.
 */

@page {
  size: A4 portrait;
  margin: 30pt 25pt 30pt 25pt;
}

page[size="A4"] {
  display: block;
  /*
	background: white;
	height: 21cm;
	width: 29.7cm;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	*/
}

.page-break {
  page-break-after: always;
}

.pdf-ver {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.pdf-ver .pdf-acoes {
  position: fixed;
  z-index: 99999;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
}

.pdf-ver .pdf-acoes button {
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}

.pdf-ver object {
  position: fixed;
  z-index: 99999;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
}