@import "../helper/partials/_padrao.scss";
@import "../helper/file.scss";

.pesquisa-res-container {
			
	&.lista-operacao-container {
		width: 865px;

        ul.operacao {
            li {
                a, .titulo-lista {
                	font-size: 11px;

                    span {

                        &.span-codigo {
                            width: 48px;
                        }
                        &.span-ccontabil {
                            width: 116px;
                            text-align: left;
                        }
                        &.span-ccontabil-desc {
                            width: 300px;
                            text-align: left;
                        }
                        &.span-ccusto {
                            width: 84px;
                            text-align: left;
                        }
                        &.span-ccusto-desc {
                            width: 300px;
                            border-right: 0;
                            text-align: left;
                        }
                    }
                }
            }
        }
	}
}

.lista-produtos-container{

    width: 670px !important;

    .titulo-lista{
        span.span-FAMILIA {
            width: 264px;
            text-overflow: clip;
            overflow: hidden;
            border: 1px solid #c5c5c5;
            height: 34px;
            border-bottom: 0px;
            border-left: 0px;
            padding: 7px;
        }
    }

    span.span-FAMILIA {
        width: 260px;
        text-overflow: clip;
        overflow: hidden;
        border: 1px solid #c5c5c5;
        height: 34px;
        border-bottom: 0px;
        border-left: 0px;
        padding: 7px;
    }

    span.span-PRODUTO {
        width: 387px;
        text-overflow: clip;
        overflow: hidden;
        border: 1px solid #c5c5c5;
        height: 34px;
        border-bottom: 0px;
        border-left: 0px;
        padding: 7px;
    }

    .pesquisa-res ul li a {
        display: flex !important;
        margin-bottom: -11px !important;
    }
}