@import "../helper/partials/padrao.scss";
@import "13020-media.scss";

fieldset {
	
	&.montar-orcamento, &.resumo-orcamento {
			
		.form-group {
			float: left;
			width: 710px;
			
			> .panel {
			
				> .panel-body {
					height: 400px;
					overflow: auto;
					
					div {	
						&.titulo-lista {
							display: flex;
							font-size: 11px;

							> span {
								display: inline-block;

								&:nth-child(1) {
									width: 360px;
								}
								&:nth-child(2) {
									width: 30px;
								}
								&:nth-child(3) {
									width: 80px;
									padding-right: 5px;
									text-align: right;
								}
								&:nth-child(4) {
									width: 30px;
								}
								&:nth-child(5) {
									width: 80px;
									text-align: right;
								}
							}
						}
					}
					
					button, .label {
						float: left;
						margin-bottom: 5px;
						padding: 0 5px;
						width: 100%;
						font-size: 12px;
						font-weight: normal;
						
						> div {
							float: left;
							padding: 7px 5px;
							border-right: 1px solid $grey204;
							text-align: left;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							
							&:first-of-type {
								width: 55px;
							}
							
							&:nth-of-type(2) {
								width: 300px;
								
								span {
									
									&.descricao {
										float: left;
										max-width: calc(100% - 20px);
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
									}
									
									&.obs {
										float: right;
										top: 2px;
										font-size: 13px;
									}
								}
							}
							
							&:nth-of-type(3) {
								width: 30px;
							}
							
							&:nth-of-type(4) {
								width: 80px;
								text-align: right;
							}
							
							&:nth-of-type(5) {
								width: 35px;
							}
							
							&:nth-of-type(6) {
								width: 80px;
								text-align: right;
							}
							
							&:last-of-type {
								border-right: 0;
							}
							
						}
					}
				}
				
			}
			
			.requisicoes {
			
				> .panel-body {
					
					.panel-body {
						
						button.prod-nao-cad {
							background-color: rgba($redDelfa, 0.1);
							opacity: 1;
							
							i.glyphicon {
								float: right;
								padding: 8px 0px;
								border: 0;
								font-size: 15px;
							}
						}
					}
				}
			}
			
			.orcamento .item {
			
				.label {
				    display: block;
				    position: relative;
					width: auto;
					margin-bottom: 5px;
				    font-size: 12px;
				    line-height: 1.5;
				    font-weight: normal;
				    
				    div {
						float: left;
						padding: 7px 5px;
						border-right: 1px solid $grey204;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						
						&:first-of-type {
							width: 55px;
						}
						
						&:nth-of-type(2) {
							width: 300px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						
						&:last-of-type {
							border-right: 0;
						}
						
					}
					
				}
				
				button.excluir {
					position: absolute;
					margin-left: 10px;
					width: auto;
					padding: 8px 9px 5px 9px;
					text-shadow: none;
				}
				
			}
		}
	}
	
	&.fornecedores {
		
		.empresa-sugestao {
			display: none;
			float: right;
			margin-top: -2px;
			margin-right: 0;
			
			.panel {
				margin-bottom: 0;
				
				.panel-heading {
					padding: 1px 9px;
					font-size: 12px;
					font-weight: bold;
				}
				
				.panel-body {
					padding: 4px 10px;
					font-size: 12px;
				}
			}
		}		
	
		.empresas-selec {
		
			.panel {
				
				.panel-body {
					height: 400px;
					overflow: auto;
					
					div {	
						&.titulo-lista {
							display: inline-block;
							font-size: 11px;
							white-space: nowrap;

							> span {
								display: inline-block;
								padding: 0 5px;

								&:nth-child(1) {
									width: 372px;
								}

								&:nth-child(2) {
									width: 247px;
								}

								&:nth-child(3) {
									width: 147px;
								}

								&:nth-child(4) {
									width: 197px;
								}

								&:nth-child(5) {
									width: 197px;
								}
								
								&:nth-child(6) {
									width: 37px;
								}
								
								&:nth-child(7) {
									width: 45px;
								}
							}
						}
					}
					
					.label {
						position: relative;
						display: inline-flex;
						margin-bottom: 5px;
						padding: 0 5px;
						font-size: 12px;
						line-height: 0;
					    font-weight: normal;
						
						&.selec {
							border-bottom-color: $greenSuccess;
						}
						
						span {
							float: left;
							height: 32px;
							padding: 7px 5px;
							border-right: 1px solid $grey204;
							line-height: 1.5em;
							text-align: left;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							
							&:first-of-type {
								width: 50px;
							}
							
							&:nth-child(2) {
								width: 320px;
							}
							
							&:nth-child(3) {
								width: 250px;
							}
							
							&:nth-child(4) {
								width: 150px;
							}
							
							&:nth-child(5), &:nth-child(6) {
								width: 200px;
							}
							
							&:nth-child(7) {
								width: 40px;
							}
							
							&:last-of-type {
								width: 45px;
								border-right: 0;
							}
							
							/*&:empty {
								border-right: 0;
								padding: 0;
							}*/
							
							div {
								float: left;
							}
							
							input {
								display: none;
								margin-top: -2px;
								margin-left: 5px;
								padding: 0 7px;
								height: 23px;
								width: 95%;
								color: $black;
								font-size: 12px;
								line-height: 1em;
							}

						}
						
						button {
							position: absolute;
							top: 0px;
							right: -40px;
							padding: 5px 9px;
							
							&.empresa-cancelar, &.excluir {
								right: -80px;
							}

							&.empresa-gravar, &.empresa-cancelar {
								display: none;
							}
						}
						
					}
				}		
			}
		}
	}
	
	&.resumo-orcamento {
		
		.form-group {
			width: 625px;
		}
		
		.resumo {			
			.panel-body {
				height: auto !important;
			}
		}
	}
	
}