/**
 * _20100 - Relatorio de Extrato de Caixa/Bancos
 */
@import "../helper/partials/padrao.scss";

@media print {

    html, body {
        margin: 0;
        padding: 0;
        border: 0;
    }

    * {
	    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
	    color-adjust: exact !important;                 /*Firefox*/
	}

    body {
	    -webkit-print-color-adjust: exact;
	}

    .noprint {
        display: none ;
    }

    .printable {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 14px;
        -webkit-print-color-adjust: exact;
        background: white;
    }

    .printable ~ * {
        display: none;
    }

    .navbar{
    	display: none;
    }

    .container-fluid{
    	display: none;	
    }

    .balao{
    	display: none;	
    }

    .spand{
    	height: unset !important;
    }
}


$height_tbody_tr : 31px;

/**
     * Controle padrão de linhas para a coluna fixada no table-lc
     */
    tr {
        &:nth-child(even) {

            td.col-fixed:not(.row-fixed) {
                background: rgb(255, 255, 255);
            }            
        }          

        &:nth-child(odd) {
            td.col-fixed:not(.row-fixed) {
                background: rgb(249, 249, 249);
            }    
        }

        &:hover {
            td.col-fixed:not(.row-fixed) {
                background-color: rgb(245, 245, 245) !important;
            }
        }

        &.selected {
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */

            /* Rules below not implemented in browsers yet */
            -o-user-select: none;
            user-select: none;   

            td.col-fixed:not(.row-fixed) {
                background-color: rgb(173, 202, 226) !important;
            }
        }

        th {
            .col-fixed {    
                background-color: rgb(51, 122, 183);
            }   
        }
        
        th.col-fixed {
            z-index: 999;
        }
        td.col-fixed {
            z-index: 99;
        }
        
        .col-fixed {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            margin-bottom: -2px;
            box-shadow: 1px 0 0 0 rgb(204, 204, 204);
        }

        .row-fixed {
            position: -webkit-sticky;
            position: sticky;
            box-shadow: 1px 0 0 0 rgb(204, 204, 204);
            font-weight: bold;
        }


        $row_fixed_base_height : 31px;

        
        &.tr-fixed-1 {
            &:nth-child(even) {

                .row-fixed-1 {
                    background: rgb(255, 247, 218);/*#76ca41;/*rgb(200, 207, 224);*/
                    
                    &.col-fixed {
                        background: rgb(255, 247, 218) !important;/*rgb(200, 207, 224);*/
                    }
                }         
            }          

            &:nth-child(odd) {
                .row-fixed-1 {
                    background: rgb(249, 239, 202);/*rgb(200, 207, 224);*/
                    
                    &.col-fixed {
                        background: rgb(249, 239, 202) !important;/*rgb(200, 207, 224);*/
                    }
                }   
            }
        }
        
        .row-fixed-1 {
            top: #{$row_fixed_base_height};
            /*background: #76ca41;rgb(200, 207, 224);*/

            &.col-fixed {
                z-index: 999;
                /*background: #76ca41 !important;rgb(200, 207, 224);*/
            }
        }

        .row-fixed-2 {
            top: calc(#{$row_fixed_base_height} + #{$height_tbody_tr});
            background: rgb(200, 224, 222);

            &.col-fixed {
                z-index: 999;
                background: rgb(200, 224, 222) !important;
            }
        }
    }

.div-frase{
    text-align: center;
    font-weight: 800;
    color: #349c5a;
    font-size: 2vw;
}



@media (max-width: 510px){
	.acoes{
		display: block !important;
	}
}

@media (min-width: 511px){
	.acoes{
		display: inline-flex !important;	

		.btn-filtrar{
			margin-top: 27px;
		}

		.checkbox-group{
			margin-top: 28px;
		}
	}
}

.container-acordeon{

	button.accordion {
	    background-color: #eee;
	    color: #444;
	    cursor: pointer;
	    padding: 18px;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 15px;
	    transition: 0.4s;
	}

	button.accordion.active, button.accordion:hover {
	    background-color: #ccc; 
	}

	div.panel {
	    padding: 0 18px;
	    display: none;
	    background-color: white;
	}
	
}